
.btn {
	border: none;
	text-decoration: none;
	cursor: pointer;
	box-sizing: border-box;
	outline: none;
	text-align: center;
	display: inline-block;
	font-family: $btn-font-family;
	font-size: $btn-text-size;
	font-weight: $btn-text-weight;
	height: $btn-height;
	line-height: $btn-height;
	min-width: $btn-min-width;
	user-select: none;
	padding: 0 $btn-padding;
	margin: 0;
	vertical-align: $input-valign;

	&:active {
		box-shadow: inset 2px 2px 6px rgba(black, .2);
	}

	.icon {
		vertical-align: middle;
	}
}

input.btn {
	-webkit-border-radius: 0; 
	border-radius: 0;
}



// Button Sizess

.btn-lg {
	font-size: $btn-lg-text-size;
	height: $btn-lg-height;
	line-height: $btn-lg-height;
	min-width: $btn-lg-min-width;
}
.btn-block {
	display: block;
	width: 100%;
}
.btn-rounded {
	@include border-radius($btn-border-radius);
}



// Button Colors (using unified mixin)

@mixin btn-color-version($background, $color:inherit) {
	background: $background;
	color: $color;

	&:active {
		background-color: darken($background, $btn-pressed-effect);
	}
}


.btn-default {
	@include btn-color-version($btn-default-bg, $btn-default-text);
}

.btn-primary {
	@include btn-color-version($btn-primary-bg, $btn-primary-text);
}

.btn-secondary {
	@include btn-color-version($btn-secondary-bg, $btn-secondary-text);
}

.btn-danger {
	@include btn-color-version($btn-danger-bg, $btn-danger-text);
}

.btn-green,
.btn-success {
	@include btn-color-version($btn-success-bg, $btn-success-text);
}

.btn-white {
	@include btn-color-version($color-white);
}




//	Temp

.btn.icon {
	color: inherit;
	padding: 0;
	min-width: 0;
}

header .btn.icon {
	@include border-radius($icon-width);

	&:active {
		background: rgba(black, .1);
		box-shadow: none;
	}
}


