
.btn {
	border: none;
	text-decoration: none;
	cursor: pointer;
	outline: none;
	text-align: center;
	display: inline-block;
	font-family: $btn-font-family;
	font-size: $btn-text-size;
	font-weight: $btn-text-weight;
	height: $btn-height;
	line-height: $btn-height;
	min-width: $btn-min-width;
	user-select: none;
	padding: 0 $btn-padding;
	margin: 0;

	&:active {
		box-shadow: inset 2px 2px 6px rgba(black, .2);
	}

	.icon {
		vertical-align: middle;
	}
}


// Button Sizess

.btn-lg {
	font-size: $btn-lg-text-size;
	height: $btn-lg-height;
	line-height: $btn-lg-height;
	min-width: $btn-lg-min-width;
}


// Button Colors


.btn-default {
	background: $color-silver-light;
	color: inherit;
}

.btn-green,
.btn-success {
	background: $color-green;
	color: $color-white;
}

.btn-primary {
	background: $color-blue;
	color: $color-white;
}

.btn-white {
	background: $color-white;
}


.btn-charge {
	$height: $toolbar-height;
	height: $height;
	line-height: $height;
	font-size: 22px;
}




//	Temp

.btn.icon {
	color: inherit;
	padding: 0;
	min-width: 0;
}

header .btn.icon {
	@include border-radius($icon-width);

	&:active {
		background: rgba(black, .1);
		box-shadow: none;
	}
}


