
@import "buttons";
@import "dropdown";
@import "tabs";
@import "toggle";
@import "checkbox";
@import "radio";
@import "input";
@import "fieldset";
@import "keyboard";


.toolbar {
	display: block;
	background: $toolbar-background;
	height: $toolbar-height;
	// @include clearfix();

	&__item {
		float: left;
		border-left: solid $color-delimiter 1px;

		&:first-child {
			border-left: none;
		}

		&-right {
			float: right;

			&:last-child {
				border-left: none;
			}
		}
	}

	&-white {
		background: $color-white;
	}

	//	Autosize items
	&-flex {
		display: table;
		width: 100%;

		.toolbar__item {
			display: table-cell;
			float: none;

			&-right {
				text-align: right;
			}

			//	Minimize column space (to give more space to other columns)
			&-minimize {
				width: 1%;
			}
		}
	}

	//	Bottom delimiter line
	&-delimiter {
		height: $toolbar-height + $base-delimiter-width;
		border-bottom: solid $color-delimiter $base-delimiter-width;
	}
}


