
@import "buttons";
@import "dropdown";
@import "tabs";
@import "toggle";
@import "checkbox";
@import "radio";
@import "input";
@import "fieldset";
@import "keyboard";


.toolbar {
	display: block;
	background: $toolbar-background;
	height: $toolbar-height;
	// @include clearfix();

	&__item {
		float: left;
		border-left: solid $color-delimiter 1px;

		&:first-child {
			border-left: none;
		}

		&-right {
			float: right;

			&:last-child {
				border-left: none;
			}
		}
	}

	&-white {
		background: $color-white;
	}

	&-delimiter {
		height: $toolbar-height + $base-delimiter-width;
		border-bottom: solid $color-delimiter $base-delimiter-width;
	}
}


