
@import "buttons";
@import "dropdown";
@import "tabs";


.toolbar {
	display: block;
	background: $toolbar-background;
	height: $toolbar-height;
	// @include clearfix();

	&__item {
		float: left;
		border-left: solid $color-delimiter 1px;

		&:first-child {
			border-left: none;
		}
	}

	&-white {
		background: $color-white;
	}

	&-delimiter {
		height: $toolbar-height + $base-delimiter-width;
		border-bottom: solid $color-delimiter $base-delimiter-width;
	}
}


