
// Formfields

.fieldset {
	background: $color-white;
	font-size: 0;
	padding-right: $base-double-spacing;

	& + & {
		margin-top: 1px;
	}

	&__label {
		padding: $base-small-spacing $base-spacing $base-small-spacing $base-double-spacing;
		display: inline-block;
		width: $fieldset-label-width;
		box-sizing: border-box;
		font-size: $font-base-size;
		vertical-align: middle;
	}

	&__text {
		font-size: $font-base-size;
		vertical-align: middle;
	}

	&__input {
		border: none;
		width: 100% - $fieldset-label-width;
		background: transparent;
		box-sizing: border-box;
		vertical-align: middle;
		display: inline-block;
	}

	&__textarea {
		border: none;
		display: block;
		resize: vertical;
		width: 100%;
		padding: $base-double-spacing;
	}

	//	Rounded first and last items

	&-first {
		border-top-left-radius: $base-border-radius;
		border-top-right-radius: $base-border-radius;
	}
	&-last {
		border-bottom-left-radius: $base-border-radius;
		border-bottom-right-radius: $base-border-radius;
	}

	//	Modifications

	&-lg {
		// height: $input-xl-height;
		// padding-top: ($input-xl-height - $input-lg-height) /2;
	}

	&-bordered {
		border: solid $fieldset-border-color $fieldset-border-width;

		&.fieldset-lg {
			// padding-top: ($input-xl-height - $input-lg-height) /2 - 2px;
		}
	}
	&-border-top {
		border-top: solid $fieldset-border-color $fieldset-border-width;
	}
	&-border-left {
		border-left: solid $fieldset-border-color $fieldset-border-width;
	}

	&-checkbox {
		padding-top: 13px;
		padding-bottom: 13px;
	}

	&-radio {
		padding-top: 13px;
		padding-bottom: 13px;

		.fieldset__label {
			width: 33%;
		}
	}

	&-textarea {
		padding-right: 0;
	}

	&-standalone {
		margin-bottom: $base-double-spacing;
	}

	&-keyboard {
		.keyboard {
			background: $fieldset-border-color;
		}
		&.fieldset .keyboard {
			display: none;	// Unhide only when fielset has .active
			margin-right: -$base-double-spacing;
			width: auto;
		}

		&.active {
			$radius: $base-border-radius + $keyboard-border-width;
			border-radius: 0 0 $radius $radius;

			.keyboard {
				display: block;
			}
		}
	}
}
