
// Formfields

.fieldset {
	background: $color-white;
	font-size: 0;
	padding-right: $base-double-spacing;

	& + & {
		margin-top: 1px;
	}

	&__label {
		padding: $base-small-spacing $base-spacing $base-small-spacing $base-double-spacing;
		display: inline-block;
		width: $fieldset-label-width;
		box-sizing: border-box;
		font-size: $font-base-size;
		vertical-align: middle;
	}

	&__input {
		border: none;
		width: 100% - $fieldset-label-width;
		background: transparent;
		box-sizing: border-box;
		vertical-align: middle;
		display: inline-block;
	}

	//	Rounded first and last items

	&-first {
		border-top-left-radius: $base-border-radius;
		border-top-right-radius: $base-border-radius;
	}
	&-last {
		border-bottom-left-radius: $base-border-radius;
		border-bottom-right-radius: $base-border-radius;
	}

	//	Modifications

	&-lg {
		// height: $input-xl-height;
		// padding-top: ($input-xl-height - $input-lg-height) /2;
	}

	&-bordered {
		border: solid $color-silver-light $fieldset-border-width;

		&.fieldset-lg {
			// padding-top: ($input-xl-height - $input-lg-height) /2 - 2px;
		}
	}

	&-checkbox {
		padding-top: 13px;
		padding-bottom: 13px;
	}

	&-radio {
		padding-top: 13px;
		padding-bottom: 13px;

		.fieldset__label {
			width: 33%;
		}
	}

	&-standalone {
		margin-bottom: $base-double-spacing;
	}

	&-keyboard {
		.keyboard {
			display: none;	// Unhide only when fielset has .active
			width: auto;
			margin-right: -$base-double-spacing;
		}

		&.active {
			.keyboard {
				display: block;
			}
		}
	}
}
