

.icon {
	@include define-box(inline-block, $icon-width, $icon-height);
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	// Temporarily stub
	background: rgba(0,0,0, .05);
	background: transparent;
	text-align: center;
	line-height: $icon-height;
	font-size: $icon-font-size;
	speak: none;

	// Icomoon code:
	font-family: $font-icon-family !important;
	//line-height: 1;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


// IcoMoon

@font-face {
	font-family: $font-icon-family;
	src: url('../fonts/icomoon.eot?tjqqh5');
	src: url('../fonts/icomoon.eot?tjqqh5#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.ttf?tjqqh5') format('truetype'),
		url('../fonts/icomoon.woff?tjqqh5') format('woff'),
		url('../fonts/icomoon.svg?tjqqh5#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

.icon:before {
	// unknown icon
	content: "\e421";
}




.icon-plus:before {
		content: "\e145";
}
.icon-back:before {
	content: "\e5c4";
}
.icon-caret:before {
	content: "\e5c5";
}
.icon-caret-up:before {
	content: "\e5c7";
}
.icon-next:before {
	content: "\e5c8";
}
.icon-backspace:before {
	content: "\e14a";
}
.icon-check:before {
	content: "\e5ca";
}
.icon-nav-before:before {
	content: "\e408";
}
.icon-nav-next:before {
	content: "\e409";
}
.icon-close:before {
	content: "\e5cd";
}
.icon-offline:before {
	content: "\e2c1";
}
.icon-cc:before {
	content: "\e8a1";
}
.icon-delete:before {
	content: "\e872";
}
.icon-exit:before {
	content: "\e879";
}
.icon-collapse:before {
	content: "\e5ce";
}
.icon-expand:before {
	content: "\e5cf";
}
.icon-help:before {
	content: "\e8fd";
}
.icon-lock:before {
	content: "\e897";
}
.icon-pos:before {
	content: "\e8cc";
}
.icon-sync:before {
	content: "\e627";
}
.icon-menu:before {
	content: "\e5d2";
}
.icon-more:before {
	content: "\e5d3";
}
.icon-more-v:before {
	content: "\e5d4";
}
.icon-user:before {
	content: "\e416";
}
.icon-undo:before {
	content: "\e042";
}
.icon-search:before {
	content: "\e8b6";
}
.icon-cog:before {
	content: "\e8b8";
}
.icon-orders:before {
	content: "\e563";
}
.icon-texture:before {
	content: "\e421";
}
.icon-tips:before {
	content: "\e8e0";
}
.icon-bo:before {
	content: "\e051";
}



