
.keyboard {
	// display: table;
	width: 100%;

	&__row {
		// display: table-row;
		margin-bottom: 1px;
		font-size: 0;
		white-space: nowrap;
	}

	&__key {
		// display: table-cell;
		width: calc((100% - #{ $keyboard-border-width*2 }) / 3);
		margin-left: 1px;
		vertical-align: top;

		&:first-child {
			margin-left: 0;
		}

		// Double height keys
		&-colspan-2 {
			$height: $btn-height * 2 + $keyboard-border-width;
			height: $height;
			line-height: $height;
		}
		&-colspan-2.btn-lg {
			$height: $btn-lg-height * 2 + $keyboard-border-width;
			height: $height;
			line-height: $height;
		}
		&-colspan-2.btn-xl {
			$height: $btn-xl-height * 2 + $keyboard-border-width;
			height: $height;
			line-height: $height;
		}

		// Tripple height keys
		&-colspan-3 {
			$height: $btn-height * 3 + $keyboard-border-width * 2;
			height: $height;
			line-height: $height;
		}
		&-colspan-3.btn-lg {
			$height: $btn-lg-height * 3 + $keyboard-border-width * 2;
			height: $height;
			line-height: $height;
		}
		&-colspan-3.btn-xl {
			$height: $btn-xl-height * 3 + $keyboard-border-width * 2;
			height: $height;
			line-height: $height;
		}
	}
	&__row-last:last-child {
		margin-bottom: 0;
	}

	&__row-last &__key-last {
		border-bottom-right-radius: $base-border-radius;
	}
	&__row-last &__key-first {
		border-bottom-left-radius: $base-border-radius;
	}


	//	Keyboard 4 buttons per row
	&-4 {
		$buttons: 4;

		.keyboard__key {
			width: calc((100% - #{ $keyboard-border-width * ($buttons - 1) }) / #{ $buttons });
		}
	}
}
