


body {
	background: $body-background;
	font: $font-base-size $font-base-family;
	font-weight: $font-base-weight;
	color: $color-text;
}



section {
	padding: $base-double-spacing;
}

.form-narrow {
	margin-left: auto;
	margin-right: auto;
	max-width: 460px;
}


header {
	background: $header-background;
	color: $header-color;
	font-size: $header-font-size;
	font-weight: $font-weight-medium;
	height: $header-height;
	line-height: $header-height;
	cursor: default;
	user-select: none;

	.icon-menu,
	.icon-back {
		float: left;
		height: $header-height;
		line-height: $header-height;
		width: $header-height;
		border-radius: 0 !important;
		margin-right: $base-small-spacing;
	}


	.icon.pull-left,
	.icon.pull-right {
		margin: 5px 10px;
	}

	h1 {
		font-size: $header-font-size;
		margin: 0 $base-double-spacing;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	h2 {
		font-size: $font-base-size;
		margin: 0 $base-double-spacing;
		font-weight: $font-weight-normal;
		opacity: $color-muted-visibility;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}

.header__icons {
	float: right;
	margin: 0;
	font-size: 0;

	.icon {
		vertical-align: top;
		$margin-v: ($header-height - $icon-size)/2;
		$margin-h: $margin-v;
		margin: $margin-v $margin-h 0 0;
	}
}

// <article> tag used to define separate UI screen (eg: POS, Orders list, etc.)
article {
	position: absolute;
	height: 100%;
	width: 100%;
	background: $body-background;

	main {
		position: absolute;
		height: 100%;
		width: 100%;

		&.right {
			right: 0;
			width: $layout-main-width;
		}
	}

	aside {
		position: absolute;
		height: 100%;
		right: 0;

		&.left {
			left: 0;
			right: auto;
			width: 100% - $layout-main-width;
		}
	}
}


.layout {
	display: flex;
	flex-flow: row;


	// Vertical layout (contains rows instead of columns)
	&-rows {
		flex-flow: column;
	}
	&-columns {
		flex-flow: row;
	}


	//	Horizontal layout (columns)
	&__column {
		flex: 1;
		// display: flex;
		// flex-flow: column;

		// DEBUG:
		// border-right: dashed silver 1px;

		&-grow {
			flex: 10;	// TODO: ???
		}
	}

	&__column-gap {
		width: $base-double-spacing;
		flex: 0 0 $base-double-spacing;	// TODO ?
	}

	//	Vertical layout (rows)
	&__row {
		flex: content;	// How to define 0 ???
		// display: flex;
		// flex-flow: row;

		// DEBUG:
		// border-bottom: dotted silver 1px;

		//	This row should take more space than others
		&-grow {
			flex: 2;
			overflow-y: auto;
		}
	}
}


