


body {
	background: $body-background;
	font: $font-base-size $font-base-family;
	font-weight: $font-base-weight;
	color: $color-pre-black;
}



header {
	background: $header-background;
	color: $header-color;
	font-size: $header-font-size;
	font-weight: $font-weight-medium;
	height: $header-height;
	line-height: $header-height;
	cursor: default;
	user-select: none;

	& .icon.pull-left,
	& .icon.pull-right {
		margin: 5px 10px;
	}

	h1 {
		font-size: $header-font-size;
		margin: 0;
	}
}



.cutout-left {
	box-shadow: inset 6px 0 4px -5px rgba(0,0,0, .2);
}

