

.menu {
	display: block;
	position: fixed;
	left: 0;
	@include translate(-300px, 0);
	top: 0;
	bottom: 0;
	width: $menu-width;
	background: $menu-background;
	z-index: 2;
	overflow-y: auto;

	&__mask {
		@include create-mask();
		@include opacity(0);
		display: none;
	}

	&-active {
		@include translate(0,0);
		// box-shadow: 2px 0px 10px rgba(black, .6);

		& + .menu__mask {
			display: block;
			z-index: 1!important;
			@include opacity($color-mask-opacity);
		}
	}

	header {
		cursor: pointer;
	}

	&__items {
		list-style: none;
		font-size: $menu-font-size;
		margin-top: 20px;
		user-select: none;
	}

	&__item {
		list-style: none;
		height: $menu-item-height;
		line-height: $menu-item-height;
		border-bottom: solid $color-menu-border 1px;


		&-active &-link {
			background: $color-menu-current;
			color: $color-menu-current-text;
		}

		&-link {
			display: block;
			color: $menu-color;
			text-decoration: none;

			&:hover {
				background: $color-menu-current;
			}

			&:active {
				background: $color-menu-active;
				color: $color-menu-active-text;
			}
		}

		&-icon {
			vertical-align: middle;
			margin: 0 8px;
		}
	}

}


.animated .menu {
	transition: all $menu-animation-in-time ease-out;

	&__item-link {
		// transition: background-color $menu-animation-in-time ease-in-out;
		&:hover {
			transition: none;
		}
	}

	&__mask {
		@if $menu-animation-out-time > 0 {
			transition:
				opacity $menu-animation-out-time ease-out,
				z-index $menu-animation-out-time step-end;
		} else {
			transition:
				opacity $menu-animation-out-time ease-out;
		}
		z-index: -1;
		display: block;
	}

	&-active + .menu__mask {
		@if $menu-animation-out-time > 0 {
			transition:
				opacity $menu-animation-in-time ease-out,
				z-index 0s;
		} else {
			transition-duration: $menu-animation-in-time;
		}
		
	}

	header {
		background: $menu-background;
		// transition: background-color $menu-animation-in-time;
	}

	&-active header {
		background: $header-background;
	}
}

