


@mixin translate($x, $y) {
	-webkit-transform: translate($x, $y);
	transform: translate($x, $y);
}

@mixin opacity($opacity) {
	opacity: $opacity;
}


@mixin border-radius($params) {
	border-radius: $params;
}


@mixin clearfix() {
	overflow: hidden;
}

@mixin ios-no-highlight() {
	-webkit-tap-highlight-color: rgba(0,0,0, 0);	// disable iOS tap hilight
}


@mixin define-box($display, $width, $height) {
	display: $display;
	width: $width;
	height: $height;
}

@mixin create-mask($color: $color-mask-background) {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: $color;
}

@mixin text-overflow() {
	overflow: hidden;
	text-overflow: ellipsis;
}

@mixin muted-text() {
	@include opacity($color-muted-visibility);
}


@mixin auto-height($displacement, $position:absolute) {
	position: $position;
	width: 100%;
	height: calc(100% - #{$displacement} );
}

@mixin layout-left($width) {
	width: $width;
	left: 0;
	right: auto;
}

@mixin layout-right($width) {
	width: $width;
	right: 0;
	left: auto;
}



