


@mixin translate($x, $y) {
	-webkit-transform: translate($x, $y);
	transform: translate($x, $y);
}

@mixin opacity($opacity) {
	opacity: $opacity;
}

@mixin border-radius($params) {
	border-radius: $params;
}


@mixin clearfix() {
	overflow: hidden;
}


@mixin define-box($display, $width, $height) {
	display: $display;
	width: $width;
	height: $height;
}
