
// Bottom horizontal menu
.menu {
	list-style: none;
	padding: 0;
	margin: 0;
	width: 100%;
	box-sizing: border-box;
	display: table;
	table-layout: fixed;
	border: none;
	border-collapse: collapse;

	&__item {
		display: table-cell;
		border-left: solid $color-silver 1px;

		&:first-child {
			border-color: none;
		}
	}

	.btn-menu {
		display: block;
		width: 100%;
		border: none;
		background: transparent;
		height: $menu-height;
		line-height: $menu-height;
		margin: 0;
		padding: 0;
		font-size: 1.2em;

		&:hover,
		&:focus {
			background: $color-light-silver;
			outline: none;
		}
		&:active {
			background: $color-blue;
			color: $color-white;
		}
	}
}

// Dropdown component
.dropdown {
	position: relative;

	&__handle {
		cursor: pointer;
	}
	&__menu {
		display: none;
		position: absolute;
		left: 0;
		background: $dropdown-color-bg;
		list-style: none;
		padding: 0;
		margin: 0;
		line-height: normal;
		font-size: $font-base-size;
		font-weight: $font-base-weight;
		text-transform: none; 
		text-align: left;
		@include box-shadow(1px 2px 6px rgba(0,0,0,.3));

		&_up {
			bottom: 100%;
		}

		&_item {
			list-style: none;
			padding: 0;
		}
		&_link {
			color: $dropdown-color-text;
			padding: 0 $dropdown-item-h-padding;
			height: $dropdown-item-height;
			line-height: $dropdown-item-height;
			white-space: nowrap;
			text-decoration: none!important;
			display: block;
			cursor: pointer;

			&:hover {
				background: $dropdown-color-active-bg;
				color: $dropdown-color-active-text;
			}
		}
	}
	&.open,
	&__hover:hover {
		.dropdown__menu {
			display: block;
		}
		.dropdown__handle {
			background: $color-blue;
			color: $color-white;
		}
	}
}