//	.categories - scrollable list of catalog categories
//		.categories__item - each category block
//	.products - same for list of products
//		.products__item	- each product




//	Shared Products + Categories styling

.categories,
.products {
	display: block;
	font-size: 0;

	&__item {
		display: inline-block;
		padding: $base-spacing;
		border: solid $pos-catalog-border-color $pos-catalog-border-width;
		background: $pos-catalog-item-bg;
		text-align: left;
		white-space: nowrap;
		vertical-align: top;
		width: calc(25% - #{$pos-catalog-spacing});
		cursor: default;
	}

	// when in list (or wrapper?)
	& &__item {
		margin: $pos-catalog-spacing/2;
		user-select: none;
		cursor: pointer;

		&:hover {
			border-color: $color-primary;
		}

		&:active {
			box-shadow: inset $base-inset-shadow;
		}
	}
}



//	Categories specific

.categories {
	// background: $color-silver-light;
	height: $pos-categories-section-height;
	padding: ($pos-categories-v-padding - $pos-catalog-spacing/2) ($pos-categories-h-padding - $pos-catalog-spacing/2);

	&__item {
		height: $pos-categories-height;

		&-title {
			font-size: $pos-categories-title-font;
			@include text-overflow;
			@include muted-text();
		}
		&-code {
			font-size: $pos-categories-code-font;
		}

		&-active {
			background: $color-selection-bg;
			color: $color-selection-text;
		}
	}
}



//	Products specific

.products {
	// position: absolute;
	// width: 100%;
	// height: calc(100% - #{($pos-categories-section-height+$header-height)} );
	@include auto-height($pos-categories-section-height + $header-height);
	padding: ($pos-categories-v-padding - $pos-catalog-spacing/2) ($pos-categories-h-padding - $pos-catalog-spacing/2);

	&__wrapper {
		height: calc(100% - #{$pagination-height + $pos-products-v-padding});
	}

	&__item {
		min-height: 95px;
		height: 100% / $pos-products-rows;
		position: relative;

		&-title {
			font-size: $pos-products-title-font;
			@include text-overflow;
		}
		&-code {
			font-size: $pos-products-code-font;
			@include text-overflow;
			text-align: center;
			line-height: 100%;
			position: absolute;
			top: 50%;
			width: 100%;
			left: 0;
			margin-top: -$pos-products-code-font/2;
		}
		&-price {
			font-size: $pos-products-price-font;
			position: absolute;
			bottom: 0;
			right: 0;
			width: 100%;
			padding: 0 $base-spacing $base-spacing;
			text-align: right;
			@include text-overflow;
		}
	}

	&__empty {
		text-align: center;
		color: $color-text-muted;

		&:before {
			$size: 60px;
			content: "";
			@include define-box(inline-block, $size, $size);
			@include border-radius(9px);
			background: $color-white;
			border: dotted #cfcfcf 2px;
		}
	}

}


