
// Editing Order Item (in the right panel)

.pos-edit {
	background: $body-background;

	.icon-close {
		float: right;
	}

	&__info {
		background: white;
		@include clearfix();

		&-product {
			float: left;
			margin-right: $base-double-spacing;
			width: 20%;
			height: 120px;
		}
		&-data {
			overflow: hidden;
		}
	}

	.tabs {
		border-top: 0;
	}

	// Specific tabs

	&__mods {
		padding: 0 $base-double-spacing * 2;

		h2 {
			margin: $base-spacing 0 $base-spacing;
			clear: both;
		}
		.card__content {
			text-align: right;

			.icon {
				float: left;
				margin: -10px;
			}
		}
	}

	&__serials{
		padding: 0 $base-double-spacing * 2;
	}
}

.animated .pos-edit {
	transition: transform $base-animation-fast ease-out;
	transform: scaleX(1);
	transform-origin: left;

	&.hide {
		display: block !important;
		transform: scale(0);
	}
}
