
// Editing Order Item (in the right panel)

.pos-edit {
	background: $body-background;

	.icon-close {
		float: right;
	}

	&__info {
		background: white;
		@include clearfix();

		&-product {
			float: left;
			margin-right: $base-double-spacing;
			width: 20%;
			height: 120px;
		}
		&-data {
			overflow: hidden;
		}
	}

	.tabs {
		border-top: 0;

		.tabs__item {
			text-align: center;
		}
	}
	.tabbed {
		&__panel {
			padding-top: 2 * $base-double-spacing;
			box-sizing: border-box;
			height: 100%;
		}
	}

	// Specific tabs

	&__mods,
	&__matrix {
		padding: 0 $base-double-spacing;

		h2 {
			margin: $base-spacing 0 $base-spacing;
			clear: both;
		}
		.card__content {
			// text-align: right;
			margin-top: $base-double-spacing;

			.icon {
				float: left;
				margin: -10px;
			}
		}
		.card-selected.card-selected-marked:after {
			@extend .icon;
			content: "\e86c";
			position: absolute;
			top: 0;
			left: $base-spacing;
		}
	}
	&__matrix {
		.grid__item {
			position: relative;
		}
		.grid__icon {
			$size: 30px;
			position: absolute;
			z-index: 1;
			width: $size;
			height: $size;
			line-height: $size;
			left: -($base-double-spacing + $size)/2;
			top: 50%;
			margin-top: -($base-double-spacing + $size)/2;
			border-radius: $size;
			background: $card-background;
			border: solid $color-white $base-delimiter-width;
		}
	}

	&__serials{
		padding-left: $base-double-spacing;
		padding-right: $base-double-spacing;
	}
}

.animated .pos-edit {
	transition: transform $base-animation-fast ease-out;
	transform: scaleX(1);
	transform-origin: left;

	&.hide {
		display: block !important;
		transform: scale(0);
	}
}
