

.order {
	//	Meta-group for component naming only.
	//	There is no element with this className

	&__items {
		background: $color-white;

		&-interactive {
			.order__item {
				cursor: pointer;

				&-qty,
				&-total {
					// color: $color-link;
				}

				&-info,
				&-price {
					opacity: $color-muted-visibility;
				}

				&:active {
					background: $pos-order-active-bg;
					// color: $color-selection-text;

					.order__item-qty,
					.order__item-discount,
					.order__item-total {
						// color: $color-white;
					}
				}

			}
		}

		&:empty {
			display: none;

			&+.order__totals {
				display: none;
			}
		}
	}

	&__item {
		padding: $pos-order-vspacing $pos-order-hspacing;
		border-bottom: solid $color-delimiter 1px;
		font-size: $pos-order-font-size;
		user-select: none;
		position: relative;
		cursor: default;

		// groups
		&-product {
			overflow: hidden;
		}
		&-data {
			float: right;
			width: 40%;
			text-align: right;
		}
		&-data1 {
			width: 40%;
			float: left;
		}

		// items
		&-title {
			font-weight: $font-weight-normal;
		}
		&-info {
			font-size: $pos-order-font-small;
			// opacity: $color-muted-visibility;
			// color: $color-text-transparent;
		}
		&-qty {
			font-weight: $font-weight-normal;
		}
		&-price {
			font-size: $pos-order-font-small;
			// opacity: $color-muted-visibility;
			// color: $color-text-transparent;
		}
		&-total {
			font-weight: $font-weight-normal;
		}
		&-discount {
			font-size: $pos-order-font-small;
			color: $pos-order-discount-color;
		}

		// interactive (clickable) version
		&-interactive {
		}

		// states
		&-active {
			background: $pos-order-current-bg;
		}

		.animated & {
			transition: background-color $base-animation;

			&-active:after {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				
				transition: all 1s;
				transform: scaleX(.1);
			}
		}
		.animated &-added {

			&:after {
				background: $color-primary;
				transform: scaleX(1);
			}
		}
	}


	// Empty order message

	&__empty {
		text-align: center;
		color: $color-text-muted;
		padding: $base-double-spacing;

		&:before {
			$size: 60px;
			content: "";
			@include define-box(inline-block, $size, $size);
			@include border-radius(9px);
			background: $color-white;
			border: dotted #cfcfcf 2px;
		}
	}


	//	Subtotals

	&__totals {
		padding: $base-spacing $base-double-spacing;
		background: $color-silver-superlight;
		border-top: solid $color-delimiter $base-delimiter-width;
		color: $color-gray;
		text-decoration: none;
	}
}


