

.order {
	padding: 0;
	@include auto-height($header-height + $toolbar-height+$base-delimiter-width + $hmenu-height + $btn-lg-height);

	&__items {
		background: $color-white;
		// min-height: 200px;
		// max-height: 400px;
		overflow-y: auto;

		@include auto-height(0px);	// Refactor !?

		&-interactive {
			.order__item {
				cursor: pointer;

				&-qty,
				&-total {
					color: $color-link;
				}

				&:active {
					background: $color-selection-bg;
					color: $color-selection-text;

					.order__item-qty,
					.order__item-discount,
					.order__item-total {
						color: $color-white;
					}
				}

			}
		}

		&:empty {
			display: none;
		}
	}

	&__item {
		padding: $pos-order-vspacing $pos-order-hspacing;
		border-bottom: solid $color-delimiter 1px;
		font-size: $pos-order-font-size;
		user-select: none;
		position: relative;
		cursor: default;

		// groups
		&-product {
			overflow: hidden;
		}
		&-data {
			float: right;
			width: 40%;
			text-align: right;
		}
		&-data1 {
			width: 40%;
			float: left;
		}

		// items
		&-title {
			font-weight: $font-weight-normal;
		}
		&-info {
			font-size: $pos-order-font-small;
			opacity: $color-muted-visibility;
			// color: $color-text-transparent;
		}
		&-qty {
			font-weight: $font-weight-normal;
		}
		&-price {
			font-size: $pos-order-font-small;
			opacity: $color-muted-visibility;
			// color: $color-text-transparent;
		}
		&-total {
			font-weight: $font-weight-normal;
		}
		&-discount {
			font-size: $pos-order-font-small;
			color: $pos-order-discount-color;
		}

		// interactive (clickable) version
		&-interactive {
		}

		// states
		&-active {
			background: $color-blue-superlight;
		}

		.animated & {
			transition: background-color $base-animation;

			&-active:after {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				
				transition: all 1s;
				transform: scaleX(.1);
			}
		}
		.animated &-added {

			&:after {
				background: $color-primary;
				transform: scaleX(1);
			}
		}
	}


	&__empty {
		text-align: center;
		color: $color-text-muted;
		padding: $base-double-spacing;

		&:before {
			$size: 60px;
			content: "";
			@include define-box(inline-block, $size, $size);
			@include border-radius(9px);
			background: $color-white;
			border: dotted #cfcfcf 2px;
		}
	}
}


