

.toggle {
	position: relative;
	@include define-box(inline-block, $toggle-width, $toggle-height);
	@include border-radius($toggle-height / 2);
	background: $toggle-color;
	vertical-align: middle;
	text-align: right;

	&__thumb {
		@include define-box(inline-block, $toggle-thumb-size, $toggle-thumb-size);
		@include border-radius($toggle-thumb-size);
		background: $toggle-thumb-color;
		margin: ($toggle-height - $toggle-thumb-size) / 2;
		box-shadow: 2px 2px 2px rgba(black, .2);
	}

	input {
		@include opacity(0);
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	&-off {
		background: $toggle-off-color;
		text-align: left;
	}
}