

.toggle {
	$toggle-margin: ($toggle-height - $toggle-thumb-size) / 2;

	position: relative;
	@include define-box(inline-block, $toggle-width, $toggle-height);
	@include border-radius($toggle-thumb-size);
	background: $toggle-color;
	vertical-align: middle;
	@include ios-no-highlight();
	// text-align: right;

	&__thumb {
		@include define-box(inline-block, $toggle-thumb-size, $toggle-thumb-size);
		@include border-radius($toggle-thumb-size);
		background: $toggle-thumb-color;
		position: absolute;
		top: $toggle-margin;
		right: $toggle-margin;
		box-shadow: 2px 2px 2px rgba(black, .2);
	}

	input {
		@include opacity(0);
		position: absolute;
		margin: 0;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	&-danger {
		background: $toggle-danger-color;
	}

	&-success {
		background: $toggle-success-color;
	}

	&-off {
		background: $toggle-off-color;

		.toggle__thumb {
			right: $toggle-width - $toggle-thumb-size - $toggle-margin;
		}
	}

	&:active {
		box-shadow: inset $base-inset-shadow;
	}
}



.animated .toggle {
	transition: background $base-animation;

	&__thumb {
		transition: right $base-animation ease-out;
	}
}

