
h1, h2, h3, h4, h5, h6 {
	font-family: $font-base-family;
	font-weight: $font-weight-medium;
	margin: 2*$base-spacing 0 $base-spacing;
}

h1 {
	font-family: $font-header-family;
	font-size: $font-h1-size;
}

h2 {
	font-size: $font-h2-size;
}

h3 {
	font-size: $font-h3-size;
}

h4 {
	font-size: $font-h4-size;
}

h5 {
	font-size: $font-h5-size;
}


p {
	margin: $base-spacing 0;
}

a {
	color: $color-link;

	&.shy {
		color: inherit;
	}
}

hr {
	margin: 0;
	background: $color-delimiter;
	color: $color-delimiter;
	border: none;
	height: 2px;
	clear: both;
}


//	Text sizing
.small {
	font-size: 70%;
}
.big {
	font-size: 120%;
}
.xl {
	font-size: 150%;
}


//	Text colors
.muted {
	opacity: $color-muted-visibility;
}

.text-success {
	color: $color-success;
}

.text-primary {
	color: $color-primary;
}

.text-danger {
	color: $color-danger;
}

//	Background colors
.bg-silver {
	background: $color-silver-light;
}
.bg-success {
	background: $color-success !important;
}

.bg-primary {
	background: $color-primary !important;
}

.bg-danger {
	background: $color-danger !important;
}

.bg-white {
	background: $color-white;
}



.pull-right {
	float: right !important;
}
.pull-left {
	float: left !important;
}

.text-uppercase {
	text-transform: uppercase;
}

.text-left {
	text-align: left !important;
}
.text-center {
	text-align: center !important;
}
.text-right {
	text-align: right !important;
}


.labeled-info {
	font-size: $font-lg-size;

	label,
	&__label {
		font-size: $font-sm-size;
		display: block;
		color: $color-text-muted;
	}
}
