
h1, h2, h3, h4, h5, h6 {
	font-family: $font-base-family;
	font-weight: $font-weight-medium;
	margin: 2*$base-spacing 0 $base-spacing;
}

h1 {
	font-family: $font-header-family;
	font-size: $font-h1-size;
}

h2 {
	font-size: $font-h2-size;
}

h3 {
	font-size: $font-h3-size;
}

h4 {
	font-size: $font-h4-size;
}

h5 {
	font-size: $font-h5-size;
}


p {
	margin: $base-spacing 0;
}


.small {
	font-size: 70%;
}

.muted {
	opacity: $color-muted-visibility;
}

.pull-right {
	float: right !important;
}
.pull-left {
	float: left !important;
}

.text-left {
	text-align: left !important;
}
.text-center {
	text-align: center !important;
}
.text-right {
	text-align: right !important;
}
