
.hide {
	display: none !important;
}


.w100 {
	width: 100%;
}
.w50 {
	width: 50%;
}


.cutout-left {
	box-shadow: inset 6px 0 4px -5px rgba(0,0,0, .2);
}

.baseline {
	vertical-align: middle!important;
}