
.hide {
	display: none !important;
}


.w100 {
	width: 100%;
}
.w50 {
	width: 50%;
}
.h100 {
	height: 100%;
}


.cutout-left {
	box-shadow: inset 6px 0 4px -5px rgba(0,0,0, .2);
}
.cutout-right {
	box-shadow: inset -6px 0 4px -5px rgba(0,0,0, .2);
}

.baseline {
	vertical-align: middle!important;
}

.clearfix {
	@include clearfix();
}

//	Margin and Padding options
.no-margin {
	margin: 0!important;
}

.no-padding {
	padding: 0!important;
}
.no-vpadding {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}
.padding-top {
	padding-top: $base-spacing;
}
.padding-left {
	padding-left: $base-spacing;
}
.padding-right {
	padding-right: $base-spacing;
}
.padding2-left {
	padding-left: $base-double-spacing;
}
.padding2-right {
	padding-right: $base-double-spacing;
}


//	Vertical align options

.valign-middle {
	vertical-align: middle !important;
}
.valign-top {
	vertical-align: top !important;
}
.valign-bottom {
	vertical-align: bottom !important;
}


//	Text wrapping

.force-wrap {

}
.text-overflow {
	@include text-overflow();
}
.no-wrap {
	white-space: nowrap;
}

