
@import "variables";


//	Prelogin pages
$prelogin-background: $color-silver-light;
$prelogin-text: $color-text;
$prelogin-width: 60%;
$prelogin-max-width: 450px;


//	Prelogin header
$header-background: $color-primary;
$header-color: $color-white;
$header-height: 150px;

$prelogin-icon-loading-size: 150px;