
@import "variables";


//	Prelogin pages
$prelogin-background: $color-silver-light;
$prelogin-text: $color-text;
$prelogin-width: 60%;
$prelogin-max-width: 450px;


//	Effects
$base-border-radius: 3px;


//	Prelogin header
$header-background: $color-primary;
$header-color: $color-white;
$header-height: 150px;
$header-company-height: 60px;
$header-company-font-size: 20px;
$header-company-font-weight: $font-weight-bold;

$prelogin-icon-loading-size: 150px;


//	PIN keyboard

$pin-display-animation: 300ms;
$pin-display-height: $btn-xl-height;
$pin-display-background: $color-white;
$pin-display-item-size: 24px;
$pin-display-item-border: 2px;
$pin-display-item-margin: 10px;
