
//	Global Color Palette

$color-blue: #2e99db;
$color-blue-superlight: #ecf7fd;
$color-white: #fff;
$color-green: #66BB6A;
$color-red: #FF6431;
$color-silver: #aaa;
$color-silver-light: #eeeeee;		//#eeeeee is too light | #e8e8e8
$color-silver-superlight: #f8f8f8;	//#f8f8f8 is too light | #f6f6f6
$color-gray: #434c55;
$color-pre-black: #333;
$color-black: black;

//	Elements colors
$color-primary: $color-blue;
$color-success: $color-green;
$color-danger: $color-red;

$body-background: $color-silver-superlight;
$color-text: $color-pre-black;
$color-link: $color-blue;
$color-delimiter: rgba(black, .1);
$color-mask-background: $color-gray;
$color-mask-opacity: .8; // was .7
$color-menu-text: #7D838B;
$color-menu-hover: #4C5560;
$color-menu-current: #4C5560;
$color-menu-border: $color-menu-hover;
$color-menu-active: $color-pre-black;
$color-menu-active-text: $color-white;

$color-muted-visibility: .5;
$color-text-muted: $color-silver;

$color-selection-bg: $color-blue;
$color-selection-text: $color-white;


//	Fonts
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

$font-icon-family: 'Icons';
$font-base-family: Roboto, Arial;
$font-header-family: "Open Sans", $font-base-family;
$font-base-size: 14px;
$font-lg-size: 16px;
$font-base-weight: $font-weight-light;

$font-h1-size: 22px;
$font-h2-size: 18px;
$font-h3-size: 16px;
$font-h4-size: 15px;
$font-h5-size: 14px;
$font-h6-size: $font-base-size;



//	Base sizing

$base-spacing: 10px;
$base-double-spacing: $base-spacing * 2;
$base-small-spacing:  $base-spacing / 2;
$base-delimiter-width: 1px;


//	Animation & Effects

$base-animation: .3s;
$base-animation-in: $base-animation;
$base-animation-out: .2s;

$base-inset-shadow: 2px 2px 4px rgba(black, .3);

$ripple-animation-in: 0s;
$ripple-animation-out: 450ms;
$ripple-color: $color-white;
$ripple-size: 20px;
$ripple-radius: 10px;
$ripple-opacity: 0.5;


//	Layout

//	Headers

$header-height: 50px;
$header-font-size: 20px;
$header-background: $color-primary;
$header-color: $color-white;


//	Main Menu

$menu-background: $color-gray;
$menu-color: $color-menu-text;
$color-menu-current-text: $color-white;
$menu-mask: $color-mask-background;
$menu-width: 300px;
$menu-item-height: 50px;
$menu-font-size: 16px;
$menu-animation-in-time: $base-animation-in;
$menu-animation-out-time: $base-animation-out;

//	POS Bottom Menu

$hmenu-height: 60px;
$hmenu-background: $color-white;
$hmenu-hover: $color-silver-superlight;
$hmenu-active: $color-primary;
$hmenu-font-size: $font-base-size;
$hmenu-disabled: $color-silver-superlight;


//	Inputs
$input-sm-height: 40px;
$input-height: 50px;
$input-lg-height: 60px;

$input-font-family: $font-base-family;
$input-font-size: 14px;
$input-font-weight: $font-weight-normal;

$input-valign: bottom;
$toolbar-background: $color-silver-light;
$toolbar-height: $input-lg-height;
$select-background: $toolbar-background;


// Buttons
$btn-font-family: $input-font-family;
$btn-text-size: $input-font-size;
$btn-text-weight: $font-base-weight;
$btn-height: $input-sm-height;
$btn-padding: $base-spacing;
$btn-min-width: $btn-height;
$btn-pressed-effect: 8%;
$btn-border-radius: 5px;

$btn-lg-text-size: $input-font-size + 3px;
$btn-lg-height: $toolbar-height;
$btn-lg-min-width: $btn-lg-height;

$btn-default-bg: $color-silver-light;
$btn-default-text: $color-text;
$btn-primary-bg: $color-primary;
$btn-primary-text: $color-white;
$btn-secondary-bg: $color-blue-superlight;
$btn-secondary-text: $color-blue;
$btn-danger-bg: $color-red;
$btn-danger-text: $color-white;
$btn-success-bg: $color-success;
$btn-success-text: $color-white;

//	Switches

//	Toggles
$toggle-height: 30px;
$toggle-width: 50px;
$toggle-color: $color-primary;
$toggle-danger-color: $color-red;
$toggle-success-color: $color-success;
$toggle-off-color: $color-silver-light;
$toggle-thumb-size: $toggle-height - 6px;
$toggle-thumb-color: $color-white;


//	Dropdown Menus
$dropdown-menu-background: $color-white;
$dropdown-menu-item-height: $input-height;
$dropdown-menu-item-hover: $color-silver-light;
$dropdown-menu-item-current: $color-silver-light;
$dropdown-menu-item-current: $color-silver-light;
$dropdown-menu-item-active: $color-selection-bg;
$dropdown-menu-item-active-text: $color-selection-text;
$dropdown-menu-animation-in:  $base-animation-in;
$dropdown-menu-animation-out: $base-animation-out / 2;

$dropdown-label-size: 12px;
$dropdown-label-height: 16px;

//	Tabs
$tabs-height: $input-height;
$tabs-lg-height: 80px;
$tabs-background: $color-silver-light;
$tabs-active-background: $body-background;
$tabs-border-width: 2px;

//	Tables (Grids)

//	Icons

$icon-size: 40px;
$icon-width: $icon-size;
$icon-height: $icon-size;
$icon-font-size: 24px;

//	Pagination

$pagination-item-size: 12px;
$pagination-item-color: $color-silver-light;
$pagination-item-hover: $color-white;
$pagination-item-active: $color-blue;
$pagination-item-spacing: $base-small-spacing / 2;
$pagination-height: $pagination-item-size;

//	Dialogs

$dialog-width: 80%;
$dialog-max-width: 500px;


//	Snackbar messages

$snackbar-position: bottom;
$snackbar-displacement: 0;
$snackbar-background: $color-pre-black;
$snackbar-color: $color-silver-light;
$snackbar-font-size: $font-lg-size;
$snackbar-font-weight: $font-weight-normal;

// Z-index library

$Zindex-base: 0;
$Zindex-dropdown-mask: $Zindex-base + 1;
$Zindex-dropdown-body: $Zindex-dropdown-mask + 1;
$Zindex-menu-mask: $Zindex-base + 10;
$Zindex-menu-body: $Zindex-menu-mask + 1;
$Zindex-snackbar: $Zindex-menu-body + 1;

//	Responsiveness

$responsive-tablet-min-width: 480px;
$responsive-portrait: only screen and (orientation: portrait) and (max-width: $responsive-tablet-min-width);
// $responsive-portrait: (orientation: portrait);



//	Screen-related configurations
//	POS:

$pos-catalog-width: 60%;
$pos-payment-primary-width: 60%;
$pos-order-vspacing: 13px;
$pos-order-hspacing: $base-double-spacing;
$pos-order-discount-color: $color-red;
$pos-order-font-size: 16px;
$pos-order-font-small: 13px;

//	product catalog
$pos-catalog-border-width: $base-delimiter-width;
$pos-catalog-border-color: $color-delimiter;
$pos-catalog-item-bg: $color-white;
$pos-catalog-spacing: $base-spacing;	// smaller?
$pos-catalog-border-radius: 2px;

$pos-categories-height: 60px;
$pos-categories-title-font: 13px;
$pos-categories-code-font: 20px;
$pos-categories-v-padding: $base-spacing;
$pos-categories-h-padding: 15px;
$pos-categories-section-height: $pos-categories-height*2 + $pos-catalog-spacing*2 + $pos-categories-v-padding + $pagination-item-size;

$pos-products-v-padding: $pos-categories-v-padding;
$pos-products-h-padding: $pos-categories-h-padding;
$pos-products-title-font: 16px;
$pos-products-title-lineheight: 20px;
$pos-products-price-font: 16px;
$pos-products-code-font: 30px;
$pos-products-rows: 3;



