
//	Global Color Palette

$color-blue: #2e99db;
$color-white: #fff;
$color-green: #66BB6A;
$color-red: red;
$color-silver: #aaa;
$color-silver-light: #eeeeee;		//#eeeeee is too light | #e8e8e8
$color-silver-superlight: #f8f8f8;	//#f8f8f8 is too light | #f6f6f6
$color-gray: #434c55;
$color-pre-black: #333;
$color-black: black;

//	Elements colors
$color-primary: $color-blue;

$body-background: $color-silver-superlight;
$color-delimiter: rgba(black, .1);
$color-mask-background: $color-gray;
$color-mask-opacity: .7;
$color-menu-text: #7D838B;
$color-menu-hover: #4C5560;
$color-menu-current: #4C5560;
$color-menu-border: $color-menu-hover;
$color-menu-active: $color-pre-black;
$color-menu-active-text: $color-white;

$color-muted-visibility: .5;
$color-text-muted: $color-silver;


//	Fonts
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

$font-base-family: Roboto, Arial;
$font-header-family: "Open Sans", $font-base-family;
$font-base-size: 13px;
$font-base-weight: $font-weight-light;

$font-h1-size: 22px;
$font-h2-size: 18px;
$font-h3-size: 16px;
$font-h4-size: 15px;
$font-h5-size: 14px;
$font-h6-size: $font-base-size;



//	Base sizing

$base-spacing: 10px;
$base-double-spacing: $base-spacing * 2;
$base-small-spacing:  $base-spacing / 2;


//	Layout


$header-height: 50px;
$header-font-size: 20px;
$header-background: $color-primary;
$header-color: $color-white;


//	Main Menu

$menu-background: $color-gray;
$menu-color: $color-menu-text;
$color-menu-current-text: $color-white;
$menu-mask: $color-mask-background;
$menu-width: 300px;
$menu-item-height: 50px;
$menu-font-size: 16px;
$menu-animation-in-time: .3s;
$menu-animation-out-time: .2s;

//	POS Menu

$pos-menu-height: 60px;
$pos-menu-background: $color-white;
$pos-menu-hover: $color-silver-superlight;
$pos-menu-active: $color-primary;
$pos-menu-font-size: $font-base-size;
$pos-menu-disabled: $color-silver-superlight;


//	Inputs
$input-sm-height: 40px;
$input-height: 50px;
$input-lg-height: 60px;

$input-font-family: $font-base-family;
$input-font-size: 14px;
$input-font-weight: $font-weight-normal;

$toolbar-background: $color-silver-light;
$toolbar-height: $input-lg-height;
$select-background: $toolbar-background;


// Buttons
$btn-font-family: $input-font-family;
$btn-text-size: $input-font-size;
$btn-text-weight: $font-base-weight;
$btn-height: $input-sm-height;
$btn-padding: $base-spacing;
$btn-min-width: $btn-height;

$btn-lg-text-size: $input-font-size + 3px;
$btn-lg-height: $toolbar-height;
$btn-lg-min-width: $btn-lg-height;


//	Dropdown Menus
$dropdown-menu-background: $color-white;
$dropdown-menu-item-height: $input-height;
$dropdown-menu-item-hover: $color-silver-light;
$dropdown-menu-animation-in:  .3s;
$dropdown-menu-animation-out: .2s;

$dropdown-label-size: 12px;
$dropdown-label-height: 16px;

//	Icons

$icon-size: 40px;
$icon-width: $icon-size;
$icon-height: $icon-size;


// Z-index library

$Zindex-base: 0;
$Zindex-dropdown-mask: $Zindex-base + 1;
$Zindex-dropdown-body: $Zindex-dropdown-mask + 1;
$Zindex-menu-mask: $Zindex-base + 10;
$Zindex-menu-body: $Zindex-menu-mask + 1;




//	Screen-related configurations

$pos-catalog-width: 55%;

