// 
//	Main CSS file assembly for eHopper POS (2017 version)
//	©2017 B2B Soft
//	author: Veniamin Zolotukhin <venya@venya.com>

@import "reset";
@import "mixins";
@import "variables";
@import "layout";
@import "typography";
@import "alert";
@import "menu";
@import "hmenu";
@import "controls";
@import "table";
@import "icons";
@import "utilities";
@import "snackbar";
@import "dialog";
@import "cards";
@import "grid";

//	Screen specific components
//	POS
@import "pagination";
@import "pos-order";
@import "pos-catalog-cards";
@import "pos-edit";
@import "pos-search";

//	Orders
@import "orders";


// TEMPORARY CODE (should be refactored)


article.pos {

	main {
		width: 100% - $pos-catalog-width;
	}

	main.disabled {
		.header__icons,
		.toolbar-payments,
		.hmenu {
			display: none;
		}
	}

	main.refund-mode {
		.toolbar-payments {
			&__secondary {
				display: none;
			}
			&__primary {
				width: 100%;
				.btn {
					background: $color-red;
					padding-left: $base-double-spacing;
				}
			}
		}
		.order__item-active {
			background: $color-red-light;
		}
	}

	aside {
		width: $pos-catalog-width;
	}

	.toolbar-payments {
		&__secondary {
			width: 100% - $pos-payment-primary-width;

			.btn {
				white-space: normal;
				text-align: left;
				padding-left: $base-double-spacing;
			}
			.icon {
				float: right;
				margin: ($toolbar-height - $icon-height)/2 0 -$base-spacing;
			}
		}

		&__primary {
			width: $pos-payment-primary-width;

			.btn {
				white-space: normal;
				text-align: left;
				padding-right: $base-double-spacing;
			}
			&-amount {
				float: right;
				// font-size: 110%;
				font-size: 25px;
			}
		}

		.toolbar__item {
			border-color: lighten($color-green, 10%);
		}
	}

	@media #{$responsive-portrait} {
		main {
			width: 100%;
			position: relative;
			height: auto;

			.hmenu,
			.toolbar-payments,
			.order,
			.order__items {
				position: static;
			}
		}
		aside {
			width: 100%;
			position: relative;
			height: auto;
		}
	}
}

article.pos-payments {
	.methods {
		padding: 50px;
	}
}

.split-payment {
	.btn-split-action {
		min-width: 90px;
	}
}

//	Payment-method cards
.card-payment-method {
	.card__content {
		text-align: center;
		line-height: $input-xl-height;
		font-size: $icon-font-size * 2;
	}
}

//	Settings
article.settings {
	aside {
		width: $menu-width;
		background: $menu-background;
	}

	main {
		width: calc(100% - #{$menu-width});
	}
}


