// 
//	Main CSS file assembly for eHopper POS (2017 version)
//	©2017 B2B Soft
//	author: Veniamin Zolotukhin <venya@venya.com>

@import "reset";
@import "mixins";
@import "variables";
@import "layout";
@import "typography";
@import "menu";
@import "hmenu";
@import "controls";
@import "table";
@import "icons";
@import "utilities";
@import "snackbar";
@import "dialog";

//	Screen specific components
//	POS
@import "pagination";
@import "pos-order";
@import "pos-catalog-cards";

//	Orders
@import "orders";


// TEMPORARY CODE (should be refactored)


article.pos {

	main {
		width: 100% - $pos-catalog-width;

		.hmenu {
			position: absolute;
			bottom: 0;
		}
	}

	aside {
		width: $pos-catalog-width;
	}

	.toolbar-payments {
		position: absolute;
		width: 100%;
		bottom: $hmenu-height;

		&__secondary {
			width: 100% - $pos-payment-primary-width;

			.btn {
				text-align: left;
				padding-left: $base-double-spacing;
			}
			.icon {
				float: right;
				margin: ($toolbar-height - $icon-height)/2 0 -$base-spacing;
			}
		}

		&__primary {
			width: $pos-payment-primary-width;

			.btn {
				text-align: left;
				padding-right: $base-double-spacing;
			}
			&-amount {
				float: right;
				// font-size: 110%;
				font-size: 25px;
			}
		}

		.toolbar__item {
			border-color: lighten($color-green, 10%);
		}
	}

	@media #{$responsive-portrait} {
		main {
			width: 100%;
			position: relative;
			height: auto;

			.hmenu,
			.toolbar-payments,
			.order,
			.order__items {
				position: static;
			}
		}
		aside {
			width: 100%;
			position: relative;
			height: auto;
		}
	}
}



// Editing Order Item (in the right panel)

.pos-item {
	background: $body-background;

	.icon-close {
		float: right;
	}

	&__info {
		background: white;
		@include clearfix();

		&-product {
			float: left;
			margin-right: $base-double-spacing;
			width: 20%;
			height: 120px;
		}
		&-data {
			overflow: hidden;
		}
	}

	.tabs {
	}
}

