// 
//	Main CSS file assembly for eHopper POS (2017 version)
//	©2017 B2B Soft
//	author: Veniamin Zolotukhin <venya@venya.com>

@import "reset";
@import "mixins";
@import "variables";
@import "layout";
@import "typography";
@import "menu";
@import "buttons";
@import "icons";
@import "utilities";




// TEMPORARY CODE (should be refactored)


article.pos {

	main {
		width: 100% - $pos-catalog-width;
	}

	aside {
		width: $pos-catalog-width;
	}
}



section {
	padding: $base-double-spacing;
}



.order {
	@at-root {
		section#{&} {
			padding: 0;
		}
	}

	&__items {
		background: $color-white;
		min-height: 200px;
	}

	&__item {
		padding: $base-spacing $base-double-spacing;
		border-bottom: solid $color-delimiter 1px;
	}

	&__empty {
		text-align: center;
		color: $color-text-muted;
		padding: $base-double-spacing;

		&:before {
			$size: 60px;
			content: "";
			display: inline-block;
			width: $size;
			height: $size;
			background: $color-white;
			@include border-radius(9px);
			border: dotted #cfcfcf 2px;
		}
	}
}






section.categories {
	background: $color-silver-light;
	text-align: center;
	min-height: 170px;
	padding-top: 70px;
}


section.products {

}


.products__empty {
	text-align: center;
	color: $color-text-muted;
}

