//
//	Stylesheets used on POS pre-login screens only:
//	Onboarding, PIN screen, signup, etc.
//	©2017 B2B Soft
//	author: Veniamin Zolotukhin <venya@venya.com>

@import "reset";
@import "mixins";
@import "variables-prelogin";

@import "utilities";
@import "typography";
@import "buttons";
@import "input";
@import "fieldset";
@import "icons";
@import "checkbox";
@import "dialog";
@import "keyboard";



.prelogin {
	background-color: $prelogin-background;
	color: $prelogin-text;

	font: $font-base-size $font-base-family;
	font-weight: $font-base-weight;


	.header {
		background: $header-background;
		color: $header-color;
		height: $header-height;
		overflow: hidden;

		&__logo {
			text-align: center;
			line-height: $header-height;
		}
		&__logo-img {
			max-width: 200px;
			vertical-align: middle;
		}
		&__company {
			height: $header-company-height;
			line-height: $header-company-height;
			font-size: $header-company-font-size;
			font-weight: $header-company-font-weight;
			text-transform: uppercase;
			@include text-overflow;
			white-space: nowrap;
			background: rgba(white, .1);
			width: $prelogin-width;
			margin: $header-height - $header-company-height auto 0;
			max-width: $prelogin-max-width;
			border-top-left-radius: $base-border-radius;
			border-top-right-radius: $base-border-radius;
			padding: 0 $base-double-spacing;
		}
	}

	main {
		width: $prelogin-width;
		margin: 0 auto;
		@include clearfix();
		max-width: $prelogin-max-width;
	}

	.footer {
		margin-top: 30px;
		text-align: center;
		font-weight: $font-weight-bold;
		color: $color-text-muted;
	}
}

.intro-block {
	background: $color-silver-superlight;
	padding: $base-double-spacing;
}


.icon-loading {
	width: $prelogin-icon-loading-size;
	height: $prelogin-icon-loading-size;
	margin: 80px 0 60px;
}

.icon-help {
	position: absolute;
	top: 0;
	right: 0;
	margin: $base-small-spacing;
}


//	PAGE SPECIFIC:

//	Loading
//	..

.page-activate {
	.intro {
		margin-top: 5em;
		margin-bottom: 2em;
	}
}

// PIN screen
.page-pin {

}

//	Signup Page
.page-signup {
	.intro {
		margin-top: 4em;
		margin-bottom: 2em;
	}
	.terms {
		margin: 20px 0;
	}
}

//	Syncing Page
.page-sync {
	main {
		background: white;
		text-align: center;
		border-bottom-right-radius: $base-border-radius;
		border-bottom-left-radius: $base-border-radius;
		padding: 80px $base-double-spacing;
		box-sizing: border-box;

		.icon-loading {
			margin: 0;
		}

		.footer {
			margin-top: 20px;
			margin-bottom: 20px;
		}
	}
}

.pin {
	background: $pin-display-background;
	min-height: $pin-display-height;
	position: relative;
	margin-bottom: $keyboard-border-width;

	&__display {
		min-height: $pin-display-height;
		line-height: $pin-display-height;
		text-align: center;
		font-size: 0;

		&-item {
			@include define-box(inline-block, $pin-display-item-size, $pin-display-item-size);
			background: white;
			border: solid $color-primary $pin-display-item-border;
			border-radius: $pin-display-item-size;
			vertical-align: middle;
			margin: 0 $pin-display-item-margin;

			&-active {
				background: $color-primary;
			}
		}
	}

	&__error {
		background: $color-danger;
		color: $color-white;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

		&-icon {
			float: right;
			margin: ($pin-display-height - $icon-height) /2;
		}

		&-text {
			padding: $base-double-spacing;
			overflow: hidden;
			font-size: $font-lg-size;
		}
	}
}


