html, body, div, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
img, dl, dt, dd, ol, ul, li,
fieldset, form, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas,
footer, header,
menu, nav, section {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  box-sizing: border-box; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  background: #f8f8f8;
  font: 14px Roboto, Arial;
  font-weight: 300;
  color: #333; }

section {
  padding: 20px; }

.form-narrow {
  margin-left: auto;
  margin-right: auto;
  max-width: 460px; }

header {
  background: #2e99db;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  height: 50px;
  line-height: 50px;
  cursor: default;
  user-select: none; }
  header .icon-menu,
  header .icon-back {
    float: left;
    height: 50px;
    line-height: 50px;
    width: 50px;
    border-radius: 0 !important;
    margin-right: 5px; }
  header .icon.pull-left, header .pull-left.alert__close, header .pos-edit__mods .pull-left.card-selected.card-selected-marked:after, .pos-edit__mods header .pull-left.card-selected.card-selected-marked:after, header .pos-edit__matrix .pull-left.card-selected.card-selected-marked:after, .pos-edit__matrix header .pull-left.card-selected.card-selected-marked:after,
  header .icon.pull-right,
  header .pull-right.alert__close,
  header .pos-edit__mods .pull-right.card-selected.card-selected-marked:after, .pos-edit__mods
  header .pull-right.card-selected.card-selected-marked:after,
  header .pos-edit__matrix .pull-right.card-selected.card-selected-marked:after, .pos-edit__matrix
  header .pull-right.card-selected.card-selected-marked:after {
    margin: 5px 10px; }
  header h1 {
    font-size: 20px;
    margin: 0 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
  header h2 {
    font-size: 14px;
    margin: 0 20px;
    font-weight: 400;
    opacity: 0.5;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }

.header__icons {
  float: right;
  margin: 0;
  font-size: 0; }
  .header__icons .icon, .header__icons .alert__close, .header__icons .pos-edit__mods .card-selected.card-selected-marked:after, .pos-edit__mods .header__icons .card-selected.card-selected-marked:after, .header__icons .pos-edit__matrix .card-selected.card-selected-marked:after, .pos-edit__matrix .header__icons .card-selected.card-selected-marked:after {
    vertical-align: top;
    margin: 5px 5px 0 0; }

article {
  position: absolute;
  height: 100%;
  width: 100%;
  background: #f8f8f8; }
  article main {
    position: absolute;
    height: 100%;
    width: 100%; }
    article main.right {
      right: 0;
      width: 60%; }
  article aside {
    position: absolute;
    height: 100%;
    right: 0; }
    article aside.left {
      left: 0;
      right: auto;
      width: 40%; }

.layout {
  display: table;
  width: 100%; }
  .layout-fixed {
    table-layout: fixed; }
  .layout__column {
    display: table-cell;
    vertical-align: top; }
  .layout__column-gap {
    display: table-cell;
    width: 20px; }
  .layout__row {
    display: table-row; }

h1, h2, h3, h4, h5, h6 {
  font-family: Roboto, Arial;
  font-weight: 500;
  margin: 20px 0 10px; }

h1 {
  font-family: "Open Sans", Roboto, Arial;
  font-size: 22px; }

h2 {
  font-size: 18px; }

h3 {
  font-size: 16px; }

h4 {
  font-size: 15px; }

h5 {
  font-size: 14px; }

p {
  margin: 10px 0; }

a {
  color: #2e99db; }
  a.shy {
    color: inherit; }

hr {
  margin: 0;
  background: rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.1);
  border: none;
  height: 2px;
  clear: both; }

.small {
  font-size: 70%; }

.big {
  font-size: 120%; }

.xl {
  font-size: 150%; }

.muted {
  opacity: 0.5; }

.text-success {
  color: #66BB6A; }

.text-primary {
  color: #2e99db; }

.text-danger {
  color: #FF6431; }

.bg-success {
  background: #66BB6A !important; }

.bg-primary {
  background: #2e99db !important; }

.bg-danger {
  background: #FF6431 !important; }

.pull-right {
  float: right !important; }

.pull-left {
  float: left !important; }

.text-uppercase {
  text-transform: uppercase; }

.text-left {
  text-align: left !important; }

.text-center {
  text-align: center !important; }

.text-right {
  text-align: right !important; }

.bg-white {
  background: #fff; }

.labeled-info {
  font-size: 16px; }
  .labeled-info label, .labeled-info__label {
    font-size: 12px;
    display: block;
    color: #aaa; }

.alert {
  display: block;
  padding: 20px 20px;
  font-size: 16px;
  margin-bottom: 20px;
  background: khaki;
  color: #333;
  position: relative; }
  .alert:before, .alert:after {
    display: table;
    content: " "; }
  .alert:after {
    clear: both; }
  .alert__icon {
    vertical-align: middle; }
  .alert__text {
    overflow: hidden;
    display: inline-block;
    vertical-align: middle; }
  .alert__close {
    position: absolute;
    top: 0;
    right: 0;
    opacity: .5;
    cursor: pointer; }
    .alert__close:hover {
      opacity: 1; }
  .alert-danger {
    background: #FF6431;
    color: #fff; }
  .alert-success {
    background: #66BB6A;
    color: #fff; }
  .alert-info {
    background: #c6e9ff;
    color: #2e99db; }

.menu {
  display: block;
  position: fixed;
  left: 0;
  -webkit-transform: translate(-300px, 0);
  transform: translate(-300px, 0);
  top: 0;
  bottom: 0;
  width: 300px;
  background: #434c55;
  z-index: 2;
  overflow-y: auto; }
  .menu__mask {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #434c55;
    opacity: 0;
    display: none; }
  .menu-active {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); }
    .menu-active + .menu__mask {
      display: block;
      z-index: 1 !important;
      opacity: 0.8; }
  .menu header {
    cursor: pointer; }
  .menu__items {
    list-style: none;
    font-size: 16px;
    margin-top: 20px;
    user-select: none; }
  .menu__item {
    list-style: none;
    height: 50px;
    line-height: 50px;
    border-bottom: solid #4C5560 1px; }
    .menu__item-active .menu__item-link {
      background: #4C5560;
      color: #fff; }
    .menu__item-link {
      display: block;
      color: #7D838B;
      text-decoration: none; }
      .menu__item-link:hover {
        background: #4C5560; }
      .menu__item-link:active {
        background: #333;
        color: #fff; }
    .menu__item-icon {
      vertical-align: middle;
      margin: 0 8px; }

.animated .menu {
  transition: all 300ms ease-out; }
  .animated .menu__item-link:hover {
    transition: none; }
  .animated .menu__mask {
    transition: opacity 200ms ease-out, z-index 200ms step-end;
    z-index: -1;
    display: block; }
    .animated .menu__mask else {
      transition: opacity 200ms ease-out; }
  .animated .menu-active + .menu__mask {
    transition: opacity 300ms ease-out, z-index 0s; }
    .animated .menu-active + .menu__mask else {
      transition-duration: 300ms; }
  .animated .menu header {
    background: #434c55; }
  .animated .menu-active header {
    background: #2e99db; }

.hmenu {
  display: table;
  width: 100%;
  height: 60px;
  line-height: 60px;
  font-size: 14px;
  background: #fff; }
  .hmenu__item {
    display: table-cell;
    width: 1%;
    text-align: center;
    border-right: solid rgba(0, 0, 0, 0.1) 1px;
    white-space: nowrap;
    cursor: pointer;
    user-select: none; }
    .hmenu__item:last-child {
      border-right: none; }
    .hmenu__item:hover {
      background: #f8f8f8; }
    .hmenu__item:active {
      background: #2e99db;
      color: #fff;
      box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.2); }
    .hmenu__item a {
      display: block;
      color: inherit;
      text-decoration: none;
      line-height: 60px; }
    .hmenu__item .icon, .hmenu__item .alert__close, .hmenu__item .pos-edit__mods .card-selected.card-selected-marked:after, .pos-edit__mods .hmenu__item .card-selected.card-selected-marked:after, .hmenu__item .pos-edit__matrix .card-selected.card-selected-marked:after, .pos-edit__matrix .hmenu__item .card-selected.card-selected-marked:after {
      width: 16px;
      line-height: 60px;
      vertical-align: top;
      opacity: .5; }
    .hmenu__item-disabled, .hmenu__item-disabled:hover,
    .hmenu__item-disabled a {
      color: #aaa;
      background: #f8f8f8;
      cursor: default;
      pointer-events: none; }

.btn {
  border: none;
  text-decoration: none;
  cursor: pointer;
  box-sizing: border-box;
  outline: none;
  text-align: center;
  display: inline-block;
  font-family: Roboto, Arial;
  font-size: 16px;
  font-weight: 300;
  height: 40px;
  line-height: 40px;
  min-width: 40px;
  user-select: none;
  padding: 0 10px;
  margin: 0;
  vertical-align: bottom;
  white-space: nowrap;
  -webkit-tap-highlight-color: transparent; }
  .btn:active {
    box-shadow: inset 2px 2px 6px rgba(0, 0, 0, 0.2); }
  .btn .icon, .btn .alert__close, .btn .pos-edit__mods .card-selected.card-selected-marked:after, .pos-edit__mods .btn .card-selected.card-selected-marked:after, .btn .pos-edit__matrix .card-selected.card-selected-marked:after, .pos-edit__matrix .btn .card-selected.card-selected-marked:after {
    vertical-align: middle; }
  .btn-link {
    background: none;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit; }
  .btn-lg {
    font-size: 19px;
    height: 60px;
    line-height: 60px;
    min-width: 60px; }
  .btn-xl {
    font-size: 30px;
    height: 80px;
    line-height: 80px;
    min-width: 80px; }
  .btn-block {
    display: block;
    width: 100%; }
  .btn-rounded {
    border-radius: 5px; }

input.btn {
  -webkit-appearance: none;
  -webkit-border-radius: 0; }

.btn-default {
  background: #eeeeee;
  color: #333; }
  .btn-default:active {
    background-color: #dadada; }

.btn-primary {
  background: #2e99db;
  color: #fff; }
  .btn-primary:active {
    background-color: #2183bf; }

.btn-secondary {
  background: #ecf7fd;
  color: #2e99db; }
  .btn-secondary:active {
    background-color: #c7e7f9; }

.btn-danger {
  background: #FF6431;
  color: #fff; }
  .btn-danger:active {
    background-color: #ff4508; }

.btn-green,
.btn-success {
  background: #66BB6A;
  color: #fff; }
  .btn-green:active,
  .btn-success:active {
    background-color: #4cac51; }

.btn-white {
  background: #fff;
  color: inherit; }
  .btn-white:active {
    background-color: #ebebeb; }

.animated .btn-ripple {
  position: relative;
  overflow: hidden; }
  .animated .btn-ripple__effect {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 50%;
    left: 50%;
    margin-top: -10px;
    margin-left: -10px;
    background: black;
    border-radius: 999px;
    pointer-events: none;
    transition: transform 500ms ease-out, opacity 500ms ease-out;
    transform: scale(0);
    opacity: 0.05;
    z-index: 100; }
    .animated .btn-ripple__effect.effect-on {
      transform: scale(2);
      opacity: 0; }
  .animated .btn-ripple:active {
    box-shadow: none; }

.btn.icon, .btn.alert__close, .pos-edit__mods .btn.card-selected.card-selected-marked:after, .pos-edit__matrix .btn.card-selected.card-selected-marked:after {
  color: inherit;
  padding: 0;
  min-width: 0;
  background: transparent; }

header .btn.icon, header .btn.alert__close, header .pos-edit__mods .btn.card-selected.card-selected-marked:after, .pos-edit__mods header .btn.card-selected.card-selected-marked:after, header .pos-edit__matrix .btn.card-selected.card-selected-marked:after, .pos-edit__matrix header .btn.card-selected.card-selected-marked:after {
  border-radius: 40px; }
  header .btn.icon:active, header .btn.alert__close:active, header .pos-edit__mods .btn.card-selected.card-selected-marked:active:after, .pos-edit__mods header .btn.card-selected.card-selected-marked:active:after, header .pos-edit__matrix .btn.card-selected.card-selected-marked:active:after, .pos-edit__matrix header .btn.card-selected.card-selected-marked:active:after {
    background: rgba(0, 0, 0, 0.1);
    box-shadow: none; }

.dropdown-menu {
  display: none;
  background: #fff;
  color: #333;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  position: absolute;
  z-index: 2;
  user-select: none; }
  .dropdown-menu__item {
    line-height: 50px;
    padding: 0 20px;
    list-style: none;
    cursor: pointer;
    white-space: nowrap;
    text-align: left; }
    .dropdown-menu__item-selected {
      color: #2e99db; }
    .dropdown-menu__item:hover {
      background: #eeeeee; }
    .dropdown-menu__item:active {
      background: #2e99db;
      color: #fff; }
    .dropdown-menu__item .icon, .dropdown-menu__item .alert__close, .dropdown-menu__item .pos-edit__mods .card-selected.card-selected-marked:after, .pos-edit__mods .dropdown-menu__item .card-selected.card-selected-marked:after, .dropdown-menu__item .pos-edit__matrix .card-selected.card-selected-marked:after, .pos-edit__matrix .dropdown-menu__item .card-selected.card-selected-marked:after {
      position: relative;
      vertical-align: top;
      margin: 5px 5px 0 -10px; }
  .dropdown-menu__mask {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #434c55;
    z-index: -1;
    opacity: 0; }
    .animated .dropdown-menu__mask {
      transition: opacity 100ms ease-out, z-index 0s 100ms; }
  .dropdown-menu-open {
    display: block; }
    .dropdown-menu-open + .dropdown-menu__mask {
      z-index: 1;
      opacity: 0.8; }
      .animated .dropdown-menu-open + .dropdown-menu__mask {
        transition: opacity 300ms ease-out, z-index 0s; }

.animated .dropdown-menu {
  display: block;
  top: -100% !important;
  transition: transform 300ms ease-out;
  transform: scaleY(0) translate(0, -100%);
  transform-origin: bottom; }
  .animated .dropdown-menu-open {
    transform: scaleY(1) translate(0, 60px); }

.animated .dropdown-menu-up {
  top: auto !important;
  bottom: 0; }

.animated .dropdown-menu-up.dropdown-menu-open {
  transform: scaleY(1) translate(0, -60px); }

.dropdown {
  display: inline-block;
  background: #eeeeee;
  height: 60px;
  line-height: 60px;
  padding: 0 30px 0 20px;
  position: relative;
  vertical-align: bottom;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  user-select: none;
  -webkit-tap-highlight-color: transparent; }
  .dropdown__selected {
    white-space: nowrap; }
    .dropdown__selected-label {
      line-height: 16px;
      font-size: 12px;
      color: #aaa;
      margin: 10px 0 4px; }
    .dropdown__selected-label + .dropdown__selected-value {
      line-height: normal; }
    .dropdown__selected-icon {
      float: left;
      position: relative;
      margin-left: -10px; }
    .dropdown__selected:after {
      font-family: "Icons";
      content: "\e5cf";
      display: inline-block;
      position: absolute;
      right: 5px;
      font-size: 24px;
      top: 0;
      color: #aaa; }
  .dropdown:hover {
    background: #fff; }
  .dropdown-white {
    background: white; }
    .dropdown-white:hover {
      background: #eeeeee; }
  .dropdown .dropdown-menu {
    left: 0;
    min-width: 100%;
    top: 100%; }
  .dropdown-disabled {
    pointer-events: none; }
    .dropdown-disabled .dropdown__selected:after {
      content: none; }

.tabs {
  display: block;
  width: 100%;
  background: #eeeeee;
  border-top: solid rgba(0, 0, 0, 0.1) 2px; }
  .tabs__item {
    float: left;
    height: 50px;
    padding: 5px 10px;
    border-right: solid rgba(0, 0, 0, 0.1) 2px;
    cursor: pointer;
    user-select: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; }
    .tabs__item-right {
      float: right;
      border-left: solid rgba(0, 0, 0, 0.1) 2px;
      border-right-width: 0; }
    .tabs__item-active {
      background: #f8f8f8; }
    .tabs__item-link {
      color: inherit; }
    .tabs__item:active {
      border-top: solid white 2px; }
  .tabs-lg .tabs__item {
    height: 80px; }
    .tabs-lg .tabs__item-value {
      font-size: 24px; }
  .tabs-flex {
    display: table;
    table-layout: fixed; }
    .tabs-flex .tabs__item {
      display: table-cell;
      vertical-align: middle;
      float: none; }
      .tabs-flex .tabs__item-right {
        float: none;
        border-width: 0 2px 0 0; }
      .tabs-flex .tabs__item:last-child {
        border-right-width: 0; }

.tabbed:before, .tabbed:after {
  display: table;
  content: " "; }

.tabbed:after {
  clear: both; }

.tabbed__panel {
  display: none; }
  .tabbed__panel-active {
    display: block; }

.toggle {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 30px;
  border-radius: 24px;
  background: #2e99db;
  vertical-align: middle;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer; }
  .toggle__thumb {
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 24px;
    background: #fff;
    position: absolute;
    top: 3px;
    right: 3px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2); }
  .toggle input {
    opacity: 0;
    position: absolute;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer; }
  .toggle-danger {
    background: #FF6431; }
  .toggle-success {
    background: #66BB6A; }
  .toggle-off {
    background: #eeeeee; }
    .toggle-off .toggle__thumb {
      right: 23px; }
  .toggle:active {
    box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.3); }

.animated .toggle {
  transition: background 300ms; }
  .animated .toggle__thumb {
    transition: right 300ms ease-out; }

.checkbox {
  position: relative;
  display: inline-block;
  vertical-align: middle; }
  .checkbox__input,
  .checkbox input {
    opacity: 0;
    position: absolute;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer; }
  .checkbox .icon, .checkbox .alert__close, .checkbox .pos-edit__mods .card-selected.card-selected-marked:after, .pos-edit__mods .checkbox .card-selected.card-selected-marked:after, .checkbox .pos-edit__matrix .card-selected.card-selected-marked:after, .pos-edit__matrix .checkbox .card-selected.card-selected-marked:after {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    background: #fff;
    line-height: 30px;
    padding: 0;
    color: #eeeeee;
    vertical-align: middle;
    margin-right: 6px; }
    .checkbox .icon:before, .checkbox .alert__close:before {
      content: "v"; }
  .checkbox input:checked + .icon, .checkbox input:checked + .alert__close, .checkbox .pos-edit__mods input:checked + .card-selected.card-selected-marked:after, .pos-edit__mods .checkbox input:checked + .card-selected.card-selected-marked:after, .checkbox .pos-edit__matrix input:checked + .card-selected.card-selected-marked:after, .pos-edit__matrix .checkbox input:checked + .card-selected.card-selected-marked:after {
    background-color: #2e99db;
    color: #fff; }
  .checkbox-success input:checked + .icon, .checkbox-success input:checked + .alert__close, .checkbox-success .pos-edit__mods input:checked + .card-selected.card-selected-marked:after, .pos-edit__mods .checkbox-success input:checked + .card-selected.card-selected-marked:after, .checkbox-success .pos-edit__matrix input:checked + .card-selected.card-selected-marked:after, .pos-edit__matrix .checkbox-success input:checked + .card-selected.card-selected-marked:after {
    background-color: #66BB6A; }
  .checkbox:active .icon, .checkbox:active .alert__close, .checkbox:active .pos-edit__mods .card-selected.card-selected-marked:after, .pos-edit__mods .checkbox:active .card-selected.card-selected-marked:after, .checkbox:active .pos-edit__matrix .card-selected.card-selected-marked:after, .pos-edit__matrix .checkbox:active .card-selected.card-selected-marked:after {
    box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.3); }

.radio {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  user-select: none; }
  .radio__input,
  .radio input {
    opacity: 0;
    position: absolute;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 1; }
  .radio .icon, .radio .alert__close, .radio .pos-edit__mods .card-selected.card-selected-marked:after, .pos-edit__mods .radio .card-selected.card-selected-marked:after, .radio .pos-edit__matrix .card-selected.card-selected-marked:after, .pos-edit__matrix .radio .card-selected.card-selected-marked:after {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    box-sizing: border-box;
    background: #fff;
    line-height: 30px;
    border: solid #eeeeee 2px;
    padding: 0;
    vertical-align: middle;
    margin-right: 6px; }
    .radio .icon:before, .radio .alert__close:before {
      content: "";
      display: block;
      width: 20px;
      height: 20px;
      border-radius: 10px;
      margin: 3px;
      transition: transform 300ms ease-out;
      transform: scale(1); }
  .radio input:checked + .icon:before, .radio input:checked + .alert__close:before {
    background-color: #2e99db; }
  .radio-success input:checked + .icon:before, .radio-success input:checked + .alert__close:before {
    background-color: #66BB6A; }
  .radio:active .icon, .radio:active .alert__close, .radio:active .pos-edit__mods .card-selected.card-selected-marked:after, .pos-edit__mods .radio:active .card-selected.card-selected-marked:after, .radio:active .pos-edit__matrix .card-selected.card-selected-marked:after, .pos-edit__matrix .radio:active .card-selected.card-selected-marked:after {
    background-color: #eeeeee; }
    .radio:active .icon:before, .radio:active .alert__close:before {
      transform: scale(0); }

.input {
  height: 50px;
  line-height: 50px;
  color: #333;
  font-family: Roboto, Arial;
  font-size: 16px;
  font-weight: 400;
  padding: 0;
  margin: 0;
  outline: none;
  box-sizing: border-box; }
  .input-sm {
    height: 40px;
    line-height: 40px;
    font-size: 14px; }
  .input-lg {
    height: 60px;
    line-height: 60px;
    font-size: 20px; }
  .input-xl {
    height: 80px;
    line-height: 80px;
    font-size: 30px; }
  .input-text {
    display: inline-block; }
  .input-default {
    background: #eeeeee; }
  .input-white {
    background: #fff; }
  .input-focus-highlight:focus {
    outline: solid #2e99db 2px;
    outline-offset: 0; }

textarea.input {
  line-height: normal; }

.fieldset {
  background: #fff;
  font-size: 0;
  padding-right: 20px; }
  .fieldset + .fieldset {
    margin-top: 1px; }
  .fieldset__label {
    padding: 5px 10px 5px 20px;
    display: inline-block;
    width: 35%;
    box-sizing: border-box;
    font-size: 14px;
    vertical-align: middle; }
  .fieldset__text {
    font-size: 14px;
    vertical-align: middle; }
  .fieldset__input {
    border: none;
    width: 65%;
    background: transparent;
    box-sizing: border-box;
    vertical-align: middle;
    display: inline-block; }
  .fieldset__textarea {
    border: none;
    display: block;
    resize: vertical;
    width: 100%;
    padding: 20px; }
  .fieldset-first {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px; }
  .fieldset-last {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px; }
  .fieldset-focus {
    outline: solid #2e99db 2px;
    outline-offset: 0; }
  .fieldset-bordered {
    border: solid #eeeeee 2px; }
    .fieldset-bordered.fieldset-focus {
      outline-offset: -2px; }
  .fieldset-border-top {
    border-top: solid #eeeeee 2px; }
  .fieldset-border-left {
    border-left: solid #eeeeee 2px; }
  .fieldset-checkbox {
    padding-top: 13px;
    padding-bottom: 13px; }
  .fieldset-radio {
    padding-top: 13px;
    padding-bottom: 13px; }
    .fieldset-radio .fieldset__label {
      width: 33%; }
  .fieldset-textarea {
    padding-right: 0; }
  .fieldset-standalone {
    margin-bottom: 20px; }
  .fieldset-keyboard .keyboard {
    background: #eeeeee; }
  .fieldset-keyboard.fieldset .keyboard {
    display: none;
    margin-right: -20px;
    width: auto; }
  .fieldset-keyboard.active {
    border-radius: 0 0 6px 6px; }
    .fieldset-keyboard.active .keyboard {
      display: block; }

.keyboard {
  width: 100%; }
  .keyboard__row {
    margin-bottom: 1px;
    font-size: 0;
    white-space: nowrap; }
  .keyboard__key {
    width: calc((100% - 2px) / 3);
    margin-left: 1px;
    vertical-align: top; }
    .keyboard__key:first-child {
      margin-left: 0; }
    .keyboard__key-colspan-2 {
      height: 81px;
      line-height: 81px; }
    .keyboard__key-colspan-2.btn-lg {
      height: 121px;
      line-height: 121px; }
    .keyboard__key-colspan-2.btn-xl {
      height: 161px;
      line-height: 161px; }
    .keyboard__key-colspan-3 {
      height: 122px;
      line-height: 122px; }
    .keyboard__key-colspan-3.btn-lg {
      height: 182px;
      line-height: 182px; }
    .keyboard__key-colspan-3.btn-xl {
      height: 242px;
      line-height: 242px; }
  .keyboard__row-last:last-child {
    margin-bottom: 0; }
  .keyboard__row-last .keyboard__key-last {
    border-bottom-right-radius: 5px; }
  .keyboard__row-last .keyboard__key-first {
    border-bottom-left-radius: 5px; }
  .keyboard-4 .keyboard__key {
    width: calc((100% - 3px) / 4); }

.toolbar {
  display: block;
  background: #eeeeee;
  height: 60px; }
  .toolbar__item {
    float: left;
    border-left: solid rgba(0, 0, 0, 0.1) 1px; }
    .toolbar__item:first-child {
      border-left: none; }
    .toolbar__item-right {
      float: right; }
      .toolbar__item-right:last-child {
        border-left: none; }
  .toolbar-white {
    background: #fff; }
  .toolbar-flex {
    display: table;
    width: 100%; }
    .toolbar-flex .toolbar__item {
      display: table-cell;
      float: none; }
      .toolbar-flex .toolbar__item-right {
        text-align: right; }
      .toolbar-flex .toolbar__item-minimize {
        width: 1%; }
  .toolbar-delimiter {
    height: 61px;
    border-bottom: solid rgba(0, 0, 0, 0.1) 1px; }

.table {
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 20px; }
  .table thead th {
    vertical-align: bottom;
    text-align: left;
    padding: 10px;
    background: #eeeeee;
    border-bottom: solid #aaa 1px; }
  .table tbody td {
    padding: 10px;
    border-top: solid #eeeeee 1px; }
  .table tbody tr:first-child td,
  .table tbody tr:first-child th {
    border-top: none; }
  .table__cell-first {
    padding-left: 20px !important; }
  .table__cell-last {
    padding-right: 20px !important; }
  .table__cell-minimize {
    width: 1%; }
  .table-lg {
    font-size: 16px; }
    .table-lg tbody td {
      padding: 20px 10px; }
  .table-striped tbody tr:nth-child(even) td,
  .table-striped tbody tr:nth-child(even) th {
    background-color: #fff; }
  .table-hover tbody tr:hover td {
    background: #ecf7fd;
    cursor: pointer; }
  .table-hover tbody tr:active td {
    background: #c6e9ff; }

.icon, .alert__close, .pos-edit__mods .card-selected.card-selected-marked:after, .pos-edit__matrix .card-selected.card-selected-marked:after,
.icon-text {
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  font-size: 24px;
  speak: none;
  font-family: "Icons" !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon, .alert__close, .pos-edit__mods .card-selected.card-selected-marked:after, .pos-edit__matrix .card-selected.card-selected-marked:after {
  display: inline-block;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px; }

.icon-sm {
  width: 20px;
  height: 20px;
  line-height: 20px;
  font-size: 16px; }

.icon-narrow {
  width: 24px; }

@font-face {
  font-family: "Icons";
  src: url("../fonts/icomoon.eot?tjqqh5");
  src: url("../fonts/icomoon.eot?tjqqh5#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?tjqqh5") format("truetype"), url("../fonts/icomoon.woff?tjqqh5") format("woff"), url("../fonts/icomoon.svg?tjqqh5#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

.icon:before, .alert__close:before {
  content: "\e421"; }

.icon-none:before {
  content: none; }

.icon-time:before {
  content: "\e8b5"; }

.icon-cash:before {
  content: "\e850"; }

.icon-plus:before {
  content: "\2b"; }

.icon-back:before {
  content: "\e5c4"; }

.icon-caret:before {
  content: "\e5c5"; }

.icon-caret-up:before {
  content: "\5e"; }

.icon-next:before {
  content: "\e5c8"; }

.icon-note:before {
  content: "\e85d"; }

.icon-backspace:before {
  content: "\e14a"; }

.icon-split:before {
  content: "\e0b6"; }

.icon-chat:before {
  content: "\e0b7"; }

.icon-check:before {
  content: "\76"; }

.icon-checked:before {
  content: "\e86c"; }

.icon-nav-before:before {
  content: "\3c"; }

.icon-nav-next:before {
  content: "\3e"; }

.icon-close:before, .alert__close:before {
  content: "\78"; }

.icon-offline:before {
  content: "\e2c1"; }

.icon-cc:before {
  content: "\e8a1"; }

.icon-bo:before {
  content: "\e871"; }

.icon-delete:before {
  content: "\64"; }

.icon-walkin:before {
  content: "\e566"; }

.icon-exit:before {
  content: "\e879"; }

.icon-collapse:before {
  content: "\e5ce"; }

.icon-expand:before {
  content: "\e5cf"; }

.icon-help:before {
  content: "\3f"; }

.icon-clear:before {
  content: "\e888"; }

.icon-lock:before {
  content: "\e897"; }

.icon-pos:before {
  content: "\e8cc"; }

.icon-print:before {
  content: "\e8ad"; }

.icon-delivery:before {
  content: "\e558"; }

.icon-lock-open:before {
  content: "\e898"; }

.icon-sync:before {
  content: "\e627"; }

.icon-loyalty:before {
  content: "\e89a"; }

.icon-menu:before {
  content: "\e5d2"; }

.icon-more:before {
  content: "\e5d3"; }

.icon-more-v:before {
  content: "\e5d4"; }

.icon-user:before {
  content: "\e416"; }

.icon-undo:before {
  content: "\e042"; }

.icon-search:before {
  content: "\e8b6"; }

.icon-cog:before {
  content: "\e8b8"; }

.icon-orders:before {
  content: "\e563"; }

.icon-users:before {
  content: "\e8d3"; }

.icon-texture:before {
  content: "\e421"; }

.icon-tips:before {
  content: "\e8e0"; }

.hide {
  display: none !important; }

.w100 {
  width: 100%; }

.w50 {
  width: 50%; }

.cutout-left {
  box-shadow: inset 6px 0 4px -5px rgba(0, 0, 0, 0.2); }

.cutout-right {
  box-shadow: inset -6px 0 4px -5px rgba(0, 0, 0, 0.2); }

.baseline {
  vertical-align: middle !important; }

.clearfix:before, .clearfix:after {
  display: table;
  content: " "; }

.clearfix:after {
  clear: both; }

.no-margin {
  margin: 0 !important; }

.no-padding {
  padding: 0 !important; }

.no-vpadding {
  padding-top: 0 !important;
  padding-bottom: 0 !important; }

.padding-left {
  padding-left: 10px; }

.padding-right {
  padding-right: 10px; }

.padding2-left {
  padding-left: 20px; }

.padding2-right {
  padding-right: 20px; }

.valign-middle {
  vertical-align: middle !important; }

.valign-top {
  vertical-align: top !important; }

.valign-bottom {
  vertical-align: bottom !important; }

.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.no-wrap {
  white-space: nowrap; }

.snackbar {
  position: fixed;
  bottom: 0;
  bottom: 0;
  background: #434c55;
  color: #eeeeee;
  padding: 20px 20px;
  font-size: 16px;
  font-weight: 400;
  width: 60%;
  left: 20%; }
  @media (max-width: 480px) {
    .snackbar {
      width: 100%;
      left: 0; } }
  .snackbar__actions {
    float: right;
    margin-left: 20px; }
  .snackbar__message {
    overflow: hidden;
    margin: 10px 0; }
  .snackbar-success {
    background: #66BB6A;
    color: #fff; }
  .snackbar-danger {
    background: #FF6431;
    color: #fff; }

.animated .snackbar {
  transform: translate(0, 0);
  transition: transform 300ms; }
  .animated .snackbar.hide {
    transform: translate(0, 100%);
    display: block !important; }

.dialog__content {
  display: none;
  width: 500px;
  position: fixed;
  z-index: 2;
  background: #fff;
  top: 0;
  left: 50%;
  margin-left: -250px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); }

.dialog__mask {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #434c55;
  display: none;
  opacity: 0;
  z-index: 1; }

.dialog__body {
  padding: 20px 20px; }

.dialog-open .dialog__content {
  display: block; }

.dialog-open + .dialog__mask {
  display: block;
  opacity: 0.8; }

.dialog-help .dialog__content {
  width: 300px;
  right: 0;
  top: 0;
  height: 100%;
  left: auto;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); }

.dialog-terminal .dialog__body {
  padding: 80px 20px;
  text-align: center; }
  .dialog-terminal .dialog__body img {
    width: 100px; }

.animated .dialog__mask {
  transition: opacity 300ms ease-out, z-index 300ms step-end;
  display: block;
  z-index: -1 !important; }

.animated .dialog__content {
  transition: transform 300ms ease-out;
  display: block;
  transform: translate(0, -110%); }

.animated .dialog-help .dialog__content {
  transform: translate(110%, 0); }

.animated .dialog-open + .dialog__mask {
  z-index: 1 !important;
  transition: opacity 200ms ease-in, z-index 0s; }

.animated .dialog-open .dialog__content {
  transform: translate(0, 200px); }

.animated .dialog-help.dialog-open .dialog__content {
  transform: translate(0, 0); }

.card {
  display: block;
  text-align: left;
  vertical-align: top;
  cursor: default;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
  box-shadow: 0 0px 1px rgba(0, 0, 0, 0.2), 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  overflow: hidden;
  background: #eeeeee;
  color: #333;
  text-decoration: none;
  position: relative; }
  .card-interactive:hover {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); }
  .card-interactive:active {
    box-shadow: none;
    transition-duration: 0ms; }
  .card-selected {
    background: khaki; }
  .card__content {
    padding: 20px 20px; }
  .card__footer {
    background: #fff;
    padding: 10px 20px; }
    .card__footer-oneline {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap; }
  .card__corner {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 10px 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100%;
    background: rgba(255, 255, 255, 0.8);
    padding: 5px;
    padding-left: 10px; }

.categories2,
.products2 {
  display: block;
  font-size: 0; }
  .categories2__item,
  .products2__item {
    background: #eeeeee;
    white-space: nowrap;
    width: calc(25% - 10px); }
  .categories2 .categories2__item,
  .products2 .categories2__item, .categories2
  .products2__item,
  .products2
  .products2__item {
    margin: 5px;
    user-select: none;
    cursor: pointer; }

.product2 {
  min-height: 95px;
  height: calc((100% - 30px)/ 3);
  position: relative;
  background-color: #eeeeee;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-origin: content-box;
  padding: 0 0 30px; }
  .product2-title {
    position: absolute;
    bottom: 0;
    background: #fff;
    padding: 5px 5px 5px 10px;
    left: 0;
    width: 100%;
    font-size: 16px;
    line-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; }
  .product2-code {
    font-size: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
    line-height: 100%;
    position: absolute;
    top: 50%;
    width: 100%;
    left: 0;
    margin-top: -25px; }
  .product2-price {
    font-size: 16px;
    position: absolute;
    top: 0;
    right: 0;
    padding: 2px 5px;
    text-align: right;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    background: rgba(255, 255, 255, 0.7); }

.grid:before, .grid:after {
  display: table;
  content: " "; }

.grid:after {
  clear: both; }

.grid-2-col .grid__item {
  float: left;
  width: 50%;
  box-sizing: border-box; }

.grid-3-col .grid__item {
  float: left;
  width: 33.33333%;
  box-sizing: border-box; }

.grid-4-col .grid__item {
  float: left;
  width: 25%;
  box-sizing: border-box; }

.grid-normal-spacing {
  margin-right: -10px; }
  .grid-normal-spacing .grid__item {
    padding: 0 10px 10px 0; }

.grid-double-spacing {
  margin-right: -20px; }
  .grid-double-spacing .grid__item {
    padding: 0 20px 20px 0; }

.pagination {
  list-style: none;
  text-align: center;
  vertical-align: top;
  cursor: default;
  font-size: 0; }
  .pagination__item {
    display: inline-block;
    list-style: none; }
    .pagination__item-link {
      display: block;
      width: 12px;
      height: 12px;
      background: #eeeeee;
      border-radius: 12px;
      outline: none;
      margin: 2.5px; }
      .pagination__item-link:hover, .pagination__item-link:focus {
        box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); }
      .pagination__item-link:active {
        box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.3); }
    .pagination__item-active .pagination__item-link {
      background: #2e99db !important; }
  .pagination-white .pagination__item-link {
    background: #fff; }

.order {
  padding: 0;
  position: absolute;
  width: 100%;
  height: calc(100% - 231px); }
  .order__items {
    background: #fff;
    overflow-y: auto;
    position: absolute;
    width: 100%;
    height: calc(100% - 0px); }
    .order__items-interactive .order__item {
      cursor: pointer; }
      .order__items-interactive .order__item-info, .order__items-interactive .order__item-price {
        opacity: 0.5; }
      .order__items-interactive .order__item:active {
        background: #c6e9ff; }
    .order__items:empty {
      display: none; }
  .order__item {
    padding: 13px 20px;
    border-bottom: solid rgba(0, 0, 0, 0.1) 1px;
    font-size: 16px;
    user-select: none;
    position: relative;
    cursor: default; }
    .order__item-product {
      overflow: hidden; }
    .order__item-data {
      float: right;
      width: 40%;
      text-align: right; }
    .order__item-data1 {
      width: 40%;
      float: left; }
    .order__item-title {
      font-weight: 400; }
    .order__item-info {
      font-size: 13px; }
    .order__item-qty {
      font-weight: 400; }
    .order__item-price {
      font-size: 13px; }
    .order__item-total {
      font-weight: 400; }
    .order__item-discount {
      font-size: 13px;
      color: #FF6431; }
    .order__item-active {
      background: #ecf7fd; }
    .animated .order__item {
      transition: background-color 300ms; }
      .animated .order__item-active:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: all 1s;
        transform: scaleX(0.1); }
    .animated .order__item-added:after {
      background: #2e99db;
      transform: scaleX(1); }
  .order__empty {
    text-align: center;
    color: #aaa;
    padding: 20px; }
    .order__empty:before {
      content: "";
      display: inline-block;
      width: 60px;
      height: 60px;
      border-radius: 9px;
      background: #fff;
      border: dotted #cfcfcf 2px; }

.categories,
.products {
  display: block;
  font-size: 0; }
  .categories__item,
  .products__item {
    display: inline-block;
    padding: 10px;
    background: #eeeeee;
    text-align: left;
    white-space: nowrap;
    vertical-align: top;
    width: calc(25% - 10px);
    cursor: default;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    box-shadow: 0 0px 1px rgba(0, 0, 0, 0.2), 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    overflow: hidden; }
  .categories .categories__item,
  .products .categories__item, .categories
  .products__item,
  .products
  .products__item {
    margin: 5px;
    user-select: none;
    cursor: pointer; }
    .categories .categories__item:hover,
    .products .categories__item:hover, .categories
    .products__item:hover,
    .products
    .products__item:hover {
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); }
    .categories .categories__item:active,
    .products .categories__item:active, .categories
    .products__item:active,
    .products
    .products__item:active {
      box-shadow: none;
      transition-duration: 0ms; }

.categories {
  height: 162px;
  padding: 5px 10px; }
  .categories__item {
    height: 60px; }
    .categories__item-title {
      font-size: 13px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      opacity: 0.5; }
    .categories__item-code {
      font-size: 20px; }
    .categories__item-active {
      background: #2e99db;
      color: #fff; }

.products {
  position: absolute;
  width: 100%;
  height: calc(100% - 212px);
  padding: 5px 10px; }
  .products__wrapper {
    height: calc(100% - 22px); }
  .products__item {
    min-height: 95px;
    height: calc((100% - 30px)/ 3);
    position: relative;
    background-color: #eeeeee;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-origin: content-box;
    padding: 0 0 30px; }
    .products__item-title {
      position: absolute;
      bottom: 0;
      background: #fff;
      padding: 5px 5px 5px 10px;
      left: 0;
      width: 100%;
      font-size: 16px;
      line-height: 20px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap; }
    .products__item-code {
      font-size: 30px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      text-align: center;
      line-height: 100%;
      position: absolute;
      top: 50%;
      width: 100%;
      left: 0;
      margin-top: -25px; }
    .products__item-price {
      font-size: 16px;
      position: absolute;
      top: 0;
      right: 0;
      padding: 2px 5px;
      text-align: right;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      background: rgba(255, 255, 255, 0.7); }
  .products__empty {
    text-align: center;
    color: #aaa; }
    .products__empty:before {
      content: "";
      display: inline-block;
      width: 60px;
      height: 60px;
      border-radius: 9px;
      background: #fff;
      border: dotted #cfcfcf 2px; }

.pos-edit {
  background: #f8f8f8; }
  .pos-edit .icon-close, .pos-edit .alert__close {
    float: right; }
  .pos-edit__info {
    background: white; }
    .pos-edit__info:before, .pos-edit__info:after {
      display: table;
      content: " "; }
    .pos-edit__info:after {
      clear: both; }
    .pos-edit__info-product {
      float: left;
      margin-right: 20px;
      width: 20%;
      height: 120px; }
    .pos-edit__info-data {
      overflow: hidden; }
  .pos-edit .tabs {
    border-top: 0; }
  .pos-edit__mods, .pos-edit__matrix {
    padding: 0 40px; }
    .pos-edit__mods h2, .pos-edit__matrix h2 {
      margin: 10px 0 10px;
      clear: both; }
    .pos-edit__mods .card__content, .pos-edit__matrix .card__content {
      margin-top: 20px; }
      .pos-edit__mods .card__content .icon, .pos-edit__mods .card__content .alert__close, .pos-edit__mods .card__content .card-selected.card-selected-marked:after, .pos-edit__matrix .card__content .icon, .pos-edit__matrix .card__content .alert__close, .pos-edit__matrix .card__content .card-selected.card-selected-marked:after {
        float: left;
        margin: -10px; }
    .pos-edit__mods .card-selected.card-selected-marked:after, .pos-edit__matrix .card-selected.card-selected-marked:after {
      content: "\e86c";
      position: absolute;
      top: 0;
      left: 10px; }
  .pos-edit__serials {
    padding: 0 40px; }

.animated .pos-edit {
  transition: transform 200ms ease-out;
  transform: scaleX(1);
  transform-origin: left; }
  .animated .pos-edit.hide {
    display: block !important;
    transform: scale(0); }

article.order-details aside {
  width: 300px;
  left: 0;
  right: auto;
  background: #fff; }

article.order-details main {
  width: calc(100% - 300px);
  right: 0;
  left: auto; }

article.pos main {
  width: 40%; }
  article.pos main .hmenu {
    position: absolute;
    bottom: 0; }

article.pos main.disabled .header__icons,
article.pos main.disabled .toolbar-payments,
article.pos main.disabled .hmenu {
  display: none; }

article.pos aside {
  width: 60%; }

article.pos .toolbar-payments {
  position: absolute;
  width: 100%;
  bottom: 60px; }
  article.pos .toolbar-payments__secondary {
    width: 40%; }
    article.pos .toolbar-payments__secondary .btn {
      white-space: normal;
      text-align: left;
      padding-left: 20px; }
    article.pos .toolbar-payments__secondary .icon, article.pos .toolbar-payments__secondary .alert__close, article.pos .toolbar-payments__secondary .pos-edit__mods .card-selected.card-selected-marked:after, .pos-edit__mods article.pos .toolbar-payments__secondary .card-selected.card-selected-marked:after, article.pos .toolbar-payments__secondary .pos-edit__matrix .card-selected.card-selected-marked:after, .pos-edit__matrix article.pos .toolbar-payments__secondary .card-selected.card-selected-marked:after {
      float: right;
      margin: 10px -10px; }
  article.pos .toolbar-payments__primary {
    width: 60%; }
    article.pos .toolbar-payments__primary .btn {
      white-space: normal;
      text-align: left;
      padding-right: 20px; }
    article.pos .toolbar-payments__primary-amount {
      float: right;
      font-size: 25px; }
  article.pos .toolbar-payments .toolbar__item {
    border-color: #89cb8c; }

@media (max-width: 480px) {
  article.pos main {
    width: 100%;
    position: relative;
    height: auto; }
    article.pos main .hmenu,
    article.pos main .toolbar-payments,
    article.pos main .order,
    article.pos main .order__items {
      position: static; }
  article.pos aside {
    width: 100%;
    position: relative;
    height: auto; } }

article.pos-payments .methods {
  padding: 50px; }

.split-payment .btn-split-action {
  min-width: 90px; }

.card-payment-method .card__content {
  text-align: center;
  line-height: 80px;
  font-size: 48px; }
