/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
img, dl, dt, dd, ol, ul, li,
fieldset, form, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas,
footer, header,
menu, nav, section {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  box-sizing: border-box; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  background: #f8f8f8;
  font: 13px Roboto, Arial;
  font-weight: 300;
  color: #333; }

header {
  background: #2e99db;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  height: 50px;
  line-height: 50px;
  cursor: default;
  user-select: none; }
  header .icon-menu,
  header .icon-back {
    float: left;
    height: 50px;
    line-height: 50px;
    width: 50px;
    border-radius: 0 !important;
    margin-right: 5px; }
  header .icon.pull-left,
  header .icon.pull-right {
    margin: 5px 10px; }
  header h1 {
    font-size: 20px;
    margin: 0 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }

article {
  position: absolute;
  height: 100%;
  width: 100%;
  background: #f8f8f8; }
  article main {
    position: absolute;
    height: 100%;
    width: 100%; }
  article aside {
    position: absolute;
    height: 100%;
    right: 0; }

.cutout-left {
  box-shadow: inset 6px 0 4px -5px rgba(0, 0, 0, 0.2); }

h1, h2, h3, h4, h5, h6 {
  font-family: Roboto, Arial;
  font-weight: 500;
  margin: 20px 0 10px; }

h1 {
  font-family: "Open Sans", Roboto, Arial;
  font-size: 22px; }

h2 {
  font-size: 18px; }

h3 {
  font-size: 16px; }

h4 {
  font-size: 15px; }

h5 {
  font-size: 14px; }

p {
  margin: 10px 0; }

.small {
  font-size: 70%; }

.muted {
  opacity: 0.5; }

.pull-right {
  float: right; }

.pull-left {
  float: left; }

.text-right {
  text-align: right; }

.text-center {
  text-align: center; }

.menu {
  display: block;
  position: fixed;
  left: 0;
  -webkit-transform: translate(-300px, 0);
  transform: translate(-300px, 0);
  top: 0;
  bottom: 0;
  width: 300px;
  background: #434c55;
  z-index: 2;
  overflow-y: auto; }
  .menu__mask {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #434c55;
    opacity: 0; }
  .menu-active {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); }
    .menu-active + .menu__mask {
      display: block;
      z-index: 1 !important;
      opacity: 0.7; }
  .menu header {
    cursor: pointer; }
  .menu__items {
    list-style: none;
    font-size: 16px;
    margin-top: 20px; }
  .menu__item {
    list-style: none;
    height: 50px;
    line-height: 50px;
    border-bottom: solid #4C5560 1px; }
    .menu__item-active .menu__item-link {
      background: #4C5560;
      color: #fff; }
    .menu__item-link {
      display: block;
      color: #7D838B;
      text-decoration: none; }
      .menu__item-link:hover {
        background: #4C5560; }
      .menu__item-link:active {
        background: #333;
        color: #fff; }
    .menu__item-icon {
      vertical-align: middle;
      margin: 0 8px; }

.animated .menu {
  transition: all 0.3s ease-out; }
  .animated .menu__item-link:hover {
    transition: none; }
  .animated .menu__mask {
    transition: opacity 0s ease-out;
    z-index: -1;
    display: block; }
  .animated .menu-active + .menu__mask {
    transition-duration: 0.3s; }
  .animated .menu header {
    background: #434c55; }
  .animated .menu-active header {
    background: #2e99db; }

.btn {
  border: none;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  text-align: center;
  display: inline-block;
  font-family: Roboto, Arial;
  font-size: 14px;
  font-weight: 300;
  height: 50px;
  line-height: 50px;
  min-width: 50px;
  user-select: none;
  padding: 0 10px;
  margin: 0; }
  .btn:active {
    box-shadow: inset 2px 2px 6px rgba(0, 0, 0, 0.2); }
  .btn .icon {
    vertical-align: middle; }

.btn-lg {
  font-size: 17px;
  height: 60px;
  line-height: 60px;
  min-width: 60px; }

.btn-default {
  background: #eeeeee;
  color: inherit; }

.btn-green,
.btn-success {
  background: #66BB6A;
  color: #fff; }

.btn-primary {
  background: #2e99db;
  color: #fff; }

.btn-charge {
  height: 60px;
  line-height: 60px;
  font-size: 22px; }

.btn.icon {
  color: inherit;
  padding: 0;
  min-width: 0; }

header .btn.icon {
  border-radius: 40px; }
  header .btn.icon:active {
    background: rgba(0, 0, 0, 0.1);
    box-shadow: none; }

.toolbar {
  display: block;
  background: #eeeeee;
  height: 60px; }

.select {
  display: inline-block;
  background: #eeeeee;
  height: 60px;
  line-height: 60px;
  padding: 0 20px;
  position: relative;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  user-select: none; }
  .select:hover {
    background: white; }
  .select:after {
    content: "";
    display: inline-block;
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -3px;
    border: solid transparent 6px;
    border-top-color: #aaa;
    border-bottom: 0; }
  .select + .select {
    border-left: solid rgba(0, 0, 0, 0.1) 1px; }

.icon {
  display: inline-block;
  width: 40px;
  height: 40px;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  background: rgba(0, 0, 0, 0.05);
  background: transparent;
  text-align: center;
  line-height: 40px;
  font-size: 24px;
  speak: none;
  font-family: 'icomoon' !important;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?tjqqh5");
  src: url("../fonts/icomoon.eot?tjqqh5#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?tjqqh5") format("truetype"), url("../fonts/icomoon.woff?tjqqh5") format("woff"), url("../fonts/icomoon.svg?tjqqh5#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

.icon:before {
  content: "\e421"; }

.icon-plus:before {
  content: "\e145"; }

.icon-back:before {
  content: "\e5c4"; }

.icon-caret:before {
  content: "\e5c5"; }

.icon-caret-up:before {
  content: "\e5c7"; }

.icon-next:before {
  content: "\e5c8"; }

.icon-backspace:before {
  content: "\e14a"; }

.icon-check:before {
  content: "\e5ca"; }

.icon-nav-before:before {
  content: "\e408"; }

.icon-nav-next:before {
  content: "\e409"; }

.icon-close:before {
  content: "\e5cd"; }

.icon-offline:before {
  content: "\e2c1"; }

.icon-cc:before {
  content: "\e8a1"; }

.icon-delete:before {
  content: "\e872"; }

.icon-exit:before {
  content: "\e879"; }

.icon-collapse:before {
  content: "\e5ce"; }

.icon-expand:before {
  content: "\e5cf"; }

.icon-help:before {
  content: "\e8fd"; }

.icon-lock:before {
  content: "\e897"; }

.icon-pos:before {
  content: "\e8cc"; }

.icon-sync:before {
  content: "\e627"; }

.icon-menu:before {
  content: "\e5d2"; }

.icon-more:before {
  content: "\e5d3"; }

.icon-more-v:before {
  content: "\e5d4"; }

.icon-user:before {
  content: "\e416"; }

.icon-undo:before {
  content: "\e042"; }

.icon-search:before {
  content: "\e8b6"; }

.icon-cog:before {
  content: "\e8b8"; }

.icon-orders:before {
  content: "\e563"; }

.icon-texture:before {
  content: "\e421"; }

.icon-tips:before {
  content: "\e8e0"; }

.icon-bo:before {
  content: "\e051"; }

.w100 {
  width: 100%; }

.w50 {
  width: 50%; }

article.pos main {
  width: 45%; }

article.pos aside {
  width: 55%; }

section {
  padding: 20px; }

.pos-order .toolbar {
  background: white; }

.pos-order .select {
  background: none;
  border-bottom: solid rgba(0, 0, 0, 0.1) 1px; }
  .pos-order .select:hover {
    background: #f8f8f8; }

section.order {
  padding: 0; }

.order__items {
  background: #fff;
  min-height: 200px; }

.order__item {
  padding: 20px 20px;
  border-bottom: solid rgba(0, 0, 0, 0.1) 1px; }

.order__empty {
  text-align: center;
  color: #aaa;
  padding: 20px; }
  .order__empty:before {
    content: "";
    display: inline-block;
    width: 60px;
    height: 60px;
    background: #fff;
    border-radius: 9px;
    border: dotted #cfcfcf 2px; }

.pos-menu {
  display: none; }

section.categories {
  background: #eeeeee;
  text-align: center;
  min-height: 170px;
  padding-top: 70px; }

.products__empty {
  text-align: center;
  color: #aaa; }
