html, body, div, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
img, dl, dt, dd, ol, ul, li,
fieldset, form, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas,
footer, header,
menu, nav, section {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  box-sizing: border-box; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.hide {
  display: none !important; }

.w100 {
  width: 100%; }

.w50 {
  width: 50%; }

.h100 {
  height: 100%; }

.cutout-left {
  box-shadow: inset 6px 0 4px -5px rgba(0, 0, 0, 0.2); }

.cutout-right {
  box-shadow: inset -6px 0 4px -5px rgba(0, 0, 0, 0.2); }

.baseline {
  vertical-align: middle !important; }

.clearfix:before, .clearfix:after {
  display: table;
  content: " "; }

.clearfix:after {
  clear: both; }

.no-margin {
  margin: 0 !important; }

.no-padding {
  padding: 0 !important; }

.no-vpadding {
  padding-top: 0 !important;
  padding-bottom: 0 !important; }

.padding-top {
  padding-top: 10px; }

.padding-left {
  padding-left: 10px; }

.padding-right {
  padding-right: 10px; }

.padding2-left {
  padding-left: 20px; }

.padding2-right {
  padding-right: 20px; }

.valign-middle {
  vertical-align: middle !important; }

.valign-top {
  vertical-align: top !important; }

.valign-bottom {
  vertical-align: bottom !important; }

.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.no-wrap {
  white-space: nowrap; }

h1, h2, h3, h4, h5, h6 {
  font-family: Roboto, Arial;
  font-weight: 500;
  margin: 20px 0 10px; }

h1 {
  font-family: "Open Sans", Roboto, Arial;
  font-size: 22px; }

h2 {
  font-size: 18px; }

h3 {
  font-size: 16px; }

h4 {
  font-size: 15px; }

h5 {
  font-size: 14px; }

p {
  margin: 10px 0; }

a {
  color: #2e99db; }
  a.shy {
    color: inherit; }

hr {
  margin: 0;
  background: rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.1);
  border: none;
  height: 2px;
  clear: both; }

.small {
  font-size: 70%; }

.big {
  font-size: 120%; }

.xl {
  font-size: 150%; }

.muted {
  opacity: 0.5; }

.text-success {
  color: #66BB6A; }

.text-primary {
  color: #2e99db; }

.text-danger {
  color: #FF6431; }

.bg-silver {
  background: #eeeeee; }

.bg-success {
  background: #66BB6A !important; }

.bg-primary {
  background: #2e99db !important; }

.bg-danger {
  background: #FF6431 !important; }

.pull-right {
  float: right !important; }

.pull-left {
  float: left !important; }

.text-uppercase {
  text-transform: uppercase; }

.text-left {
  text-align: left !important; }

.text-center {
  text-align: center !important; }

.text-right {
  text-align: right !important; }

.bg-white {
  background: #fff; }

.labeled-info {
  font-size: 16px; }
  .labeled-info label, .labeled-info__label {
    font-size: 12px;
    display: block;
    color: #aaa; }

.btn {
  border: none;
  text-decoration: none;
  cursor: pointer;
  box-sizing: border-box;
  outline: none;
  text-align: center;
  display: inline-block;
  font-family: Roboto, Arial;
  font-size: 16px;
  font-weight: 300;
  height: 40px;
  line-height: 40px;
  min-width: 40px;
  user-select: none;
  padding: 0 10px;
  margin: 0;
  vertical-align: bottom;
  white-space: nowrap;
  -webkit-tap-highlight-color: transparent; }
  .btn:active {
    box-shadow: inset 2px 2px 6px rgba(0, 0, 0, 0.2); }
  .btn .icon {
    vertical-align: middle; }
  .btn-link {
    background: none;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit; }
  .btn-lg {
    font-size: 19px;
    height: 60px;
    line-height: 60px;
    min-width: 60px; }
  .btn-xl {
    font-size: 30px;
    height: 80px;
    line-height: 80px;
    min-width: 80px; }
  .btn-block {
    display: block;
    width: 100%; }
  .btn-rounded {
    border-radius: 5px; }

input.btn {
  -webkit-appearance: none;
  -webkit-border-radius: 0; }

.btn-default {
  background: #eeeeee;
  color: #333; }
  .btn-default:active {
    background-color: #dadada; }

.btn-primary {
  background: #2e99db;
  color: #fff; }
  .btn-primary:active {
    background-color: #2183bf; }

.btn-secondary {
  background: #ecf7fd;
  color: #2e99db; }
  .btn-secondary:active {
    background-color: #c7e7f9; }

.btn-danger {
  background: #FF6431;
  color: #fff; }
  .btn-danger:active {
    background-color: #ff4508; }

.btn-green,
.btn-success {
  background: #66BB6A;
  color: #fff; }
  .btn-green:active,
  .btn-success:active {
    background-color: #4cac51; }

.btn-white {
  background: #fff;
  color: inherit; }
  .btn-white:active {
    background-color: #ebebeb; }

.animated .btn-ripple {
  position: relative;
  overflow: hidden; }
  .animated .btn-ripple__effect {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 50%;
    left: 50%;
    margin-top: -10px;
    margin-left: -10px;
    background: black;
    border-radius: 999px;
    pointer-events: none;
    transition: transform 500ms ease-out, opacity 500ms ease-out;
    transform: scale(0);
    opacity: 0.05;
    z-index: 100; }
    .animated .btn-ripple__effect.effect-on {
      transform: scale(2);
      opacity: 0; }
  .animated .btn-ripple:active {
    box-shadow: none; }

.btn.icon {
  color: inherit;
  padding: 0;
  min-width: 0;
  background: transparent; }

header .btn.icon {
  border-radius: 40px; }
  header .btn.icon:active {
    background: rgba(0, 0, 0, 0.1);
    box-shadow: none; }

.input {
  height: 50px;
  line-height: 50px;
  color: #333;
  font-family: Roboto, Arial;
  font-size: 16px;
  font-weight: 400;
  padding: 0;
  margin: 0;
  outline: none;
  box-sizing: border-box; }
  .input-sm {
    height: 40px;
    line-height: 40px;
    font-size: 14px; }
  .input-lg {
    height: 60px;
    line-height: 60px;
    font-size: 20px; }
  .input-xl {
    height: 80px;
    line-height: 80px;
    font-size: 30px; }
  .input-text {
    display: inline-block; }
  .input-default {
    background: #eeeeee; }
  .input-white {
    background: #fff; }
  .input-focus-highlight:focus {
    outline: solid #2e99db 2px;
    outline-offset: 0; }

textarea.input {
  line-height: normal; }

.fieldset {
  background: #fff;
  font-size: 0;
  padding-right: 20px; }
  .fieldset + .fieldset {
    margin-top: 1px; }
  .fieldset__label {
    padding: 5px 10px 5px 20px;
    display: inline-block;
    width: 35%;
    box-sizing: border-box;
    font-size: 14px;
    vertical-align: middle; }
  .fieldset__text {
    font-size: 14px;
    vertical-align: middle; }
  .fieldset__input {
    border: none;
    width: 65%;
    background: transparent;
    box-sizing: border-box;
    vertical-align: middle;
    display: inline-block; }
  .fieldset__textarea {
    border: none;
    display: block;
    resize: vertical;
    width: 100%;
    padding: 20px;
    transition: height 300ms ease-out; }
  .fieldset-first {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px; }
  .fieldset-last {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px; }
  .fieldset-focus {
    outline: solid #2e99db 2px;
    outline-offset: 0; }
    .fieldset-focus .fieldset__textarea {
      height: 200px; }
  .fieldset-bordered {
    border: solid #eeeeee 2px; }
    .fieldset-bordered.fieldset-focus {
      outline-offset: -2px; }
  .fieldset-border-top {
    border-top: solid #eeeeee 2px; }
  .fieldset-border-left {
    border-left: solid #eeeeee 2px; }
  .fieldset-checkbox {
    padding-top: 13px;
    padding-bottom: 13px; }
  .fieldset-radio {
    padding-top: 13px;
    padding-bottom: 13px;
    padding-right: 0; }
    .fieldset-radio .fieldset__label {
      width: 33%; }
  .fieldset-textarea {
    padding-right: 0; }
  .fieldset-standalone {
    margin-bottom: 20px; }
  .fieldset-keyboard .keyboard {
    background: #eeeeee; }
  .fieldset-keyboard.fieldset .keyboard {
    display: none;
    margin-right: -20px;
    width: auto; }
  .fieldset-keyboard.active {
    border-radius: 0 0 4px 4px; }
    .fieldset-keyboard.active .keyboard {
      display: block; }

.icon,
.icon-text {
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  font-size: 24px;
  speak: none;
  font-family: "Icons" !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon {
  display: inline-block;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px; }

.icon-sm {
  width: 20px;
  height: 20px;
  line-height: 20px;
  font-size: 16px; }

.icon-narrow {
  width: 24px; }

@font-face {
  font-family: "Icons";
  src: url("../fonts/icomoon.eot?tjqqh5");
  src: url("../fonts/icomoon.eot?tjqqh5#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?tjqqh5") format("truetype"), url("../fonts/icomoon.woff?tjqqh5") format("woff"), url("../fonts/icomoon.svg?tjqqh5#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

.icon:before {
  content: "\e421"; }

.icon-none:before {
  content: none; }

.icon-time:before {
  content: "\e8b5"; }

.icon-cash:before {
  content: "\e850"; }

.icon-plus:before {
  content: "\2b"; }

.icon-back:before {
  content: "\e5c4"; }

.icon-caret:before {
  content: "\e5c5"; }

.icon-caret-up:before {
  content: "\5e"; }

.icon-next:before {
  content: "\e5c8"; }

.icon-note:before {
  content: "\e85d"; }

.icon-backspace:before {
  content: "\e14a"; }

.icon-split:before {
  content: "\e0b6"; }

.icon-chat:before {
  content: "\e0b7"; }

.icon-check:before {
  content: "\76"; }

.icon-checked:before {
  content: "\e86c"; }

.icon-nav-before:before {
  content: "\3c"; }

.icon-nav-next:before {
  content: "\3e"; }

.icon-close:before {
  content: "\78"; }

.icon-offline:before {
  content: "\e2c1"; }

.icon-cc:before {
  content: "\e8a1"; }

.icon-bo:before {
  content: "\e871"; }

.icon-delete:before {
  content: "\64"; }

.icon-walkin:before {
  content: "\e566"; }

.icon-exit:before {
  content: "\e879"; }

.icon-collapse:before {
  content: "\e5ce"; }

.icon-expand:before {
  content: "\e5cf"; }

.icon-help:before {
  content: "\3f"; }

.icon-clear:before {
  content: "\e888"; }

.icon-lock:before {
  content: "\e897"; }

.icon-pos:before {
  content: "\e8cc"; }

.icon-print:before {
  content: "\e8ad"; }

.icon-delivery:before {
  content: "\e558"; }

.icon-lock-open:before {
  content: "\e898"; }

.icon-sync:before {
  content: "\e627"; }

.icon-loyalty:before {
  content: "\e89a"; }

.icon-menu:before {
  content: "\e5d2"; }

.icon-more:before {
  content: "\e5d3"; }

.icon-more-v:before {
  content: "\e5d4"; }

.icon-user:before {
  content: "\e416"; }

.icon-undo:before {
  content: "\e042"; }

.icon-search:before {
  content: "\e8b6"; }

.icon-cog:before {
  content: "\e8b8"; }

.icon-orders:before {
  content: "\e563"; }

.icon-users:before {
  content: "\e8d3"; }

.icon-texture:before {
  content: "\e421"; }

.icon-tips:before {
  content: "\e8e0"; }

.checkbox {
  position: relative;
  display: inline-block;
  vertical-align: middle; }
  .checkbox__input,
  .checkbox input {
    opacity: 0;
    position: absolute;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer; }
  .checkbox .icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    background: #fff;
    line-height: 30px;
    padding: 0;
    color: #eeeeee;
    vertical-align: middle;
    margin-right: 6px; }
    .checkbox .icon:before {
      content: "v"; }
  .checkbox input:checked + .icon {
    background-color: #2e99db;
    color: #fff; }
  .checkbox-success input:checked + .icon {
    background-color: #66BB6A; }
  .checkbox:active .icon {
    box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.3); }

.dialog__content {
  display: none;
  width: 500px;
  position: fixed;
  z-index: 2;
  background: #fff;
  top: 0;
  left: 50%;
  margin-left: -250px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); }

.dialog__mask {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #434c55;
  display: none;
  opacity: 0;
  z-index: 1; }

.dialog__body {
  padding: 20px 20px; }

.dialog-open .dialog__content {
  display: block; }

.dialog-open + .dialog__mask {
  display: block;
  opacity: 0.8; }

.dialog-help .dialog__content {
  width: 300px;
  right: 0;
  top: 0;
  height: 100%;
  left: auto;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); }

.dialog-terminal .dialog__body {
  padding: 80px 20px;
  text-align: center; }
  .dialog-terminal .dialog__body img {
    width: 100px; }

.animated .dialog__mask {
  transition: opacity 300ms ease-out, z-index 300ms step-end;
  display: block;
  z-index: -1 !important; }

.animated .dialog__content {
  transition: transform 300ms ease-out;
  display: block;
  transform: translate(0, -110%); }

.animated .dialog-help .dialog__content {
  transform: translate(110%, 0); }

.animated .dialog-open + .dialog__mask {
  z-index: 1 !important;
  transition: opacity 200ms ease-in, z-index 0s; }

.animated .dialog-open .dialog__content {
  transform: translate(0, 200px); }

.animated .dialog-help.dialog-open .dialog__content {
  transform: translate(0, 0); }

.keyboard {
  width: 100%; }
  .keyboard__row {
    margin-bottom: 1px;
    font-size: 0;
    white-space: nowrap; }
  .keyboard__key {
    width: calc((100% - 2px) / 3);
    margin-left: 1px;
    vertical-align: top; }
    .keyboard__key:first-child {
      margin-left: 0; }
    .keyboard__key-colspan-2 {
      height: 81px;
      line-height: 81px; }
    .keyboard__key-colspan-2.btn-lg {
      height: 121px;
      line-height: 121px; }
    .keyboard__key-colspan-2.btn-xl {
      height: 161px;
      line-height: 161px; }
    .keyboard__key-colspan-3 {
      height: 122px;
      line-height: 122px; }
    .keyboard__key-colspan-3.btn-lg {
      height: 182px;
      line-height: 182px; }
    .keyboard__key-colspan-3.btn-xl {
      height: 242px;
      line-height: 242px; }
  .keyboard__row-last:last-child {
    margin-bottom: 0; }
  .keyboard__row-last .keyboard__key-last {
    border-bottom-right-radius: 3px; }
  .keyboard__row-last .keyboard__key-first {
    border-bottom-left-radius: 3px; }
  .keyboard-4 .keyboard__key {
    width: calc((100% - 3px) / 4); }

.prelogin {
  background-color: #eeeeee;
  color: #333;
  font: 14px Roboto, Arial;
  font-weight: 300; }
  .prelogin .header {
    background: #2e99db;
    color: #fff;
    height: 150px;
    overflow: hidden; }
    .prelogin .header__logo {
      text-align: center;
      line-height: 150px; }
    .prelogin .header__logo-img {
      max-width: 200px;
      vertical-align: middle; }
    .prelogin .header__company {
      height: 60px;
      line-height: 60px;
      font-size: 20px;
      font-weight: 700;
      text-transform: uppercase;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      white-space: nowrap;
      background: rgba(255, 255, 255, 0.1);
      width: 60%;
      margin: 90px auto 0;
      max-width: 450px;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      padding: 0 20px; }
  .prelogin main {
    width: 60%;
    margin: 0 auto;
    max-width: 450px; }
    .prelogin main:before, .prelogin main:after {
      display: table;
      content: " "; }
    .prelogin main:after {
      clear: both; }
  .prelogin .footer {
    margin-top: 30px;
    text-align: center;
    font-weight: 700;
    color: #aaa; }

.intro-block {
  background: #f8f8f8;
  padding: 20px; }

.icon-loading {
  width: 150px;
  height: 150px;
  margin: 80px 0 60px; }

.icon-help {
  position: absolute;
  top: 0;
  right: 0;
  margin: 5px; }

.page-activate .intro {
  margin-top: 5em;
  margin-bottom: 2em; }

.page-signup .intro {
  margin-top: 4em;
  margin-bottom: 2em; }

.page-signup .terms {
  margin: 20px 0; }

.page-sync main {
  background: white;
  text-align: center;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  padding: 80px 20px;
  box-sizing: border-box; }
  .page-sync main .icon-loading {
    margin: 0; }
  .page-sync main .footer {
    margin-top: 20px;
    margin-bottom: 20px; }

.pin {
  background: #fff;
  min-height: 80px;
  position: relative;
  margin-bottom: 1px; }
  .pin__display {
    min-height: 80px;
    line-height: 80px;
    text-align: center;
    font-size: 0; }
    .pin__display-item {
      display: inline-block;
      width: 24px;
      height: 24px;
      background: white;
      border: solid #2e99db 2px;
      border-radius: 24px;
      vertical-align: middle;
      margin: 0 10px; }
      .pin__display-item-active {
        background: #2e99db; }
  .pin__error {
    background: #FF6431;
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
    .pin__error-icon {
      float: right;
      margin: 20px; }
    .pin__error-text {
      padding: 20px;
      overflow: hidden;
      font-size: 16px; }

.animated .pin__display-item {
  transition: transform 300ms; }
  .animated .pin__display-item-active {
    transform: scaleX(-1); }
