

.btn {
	display: inline-block;
	font-family: $font-base-family;
	font-size: inherit;

	&-flat {
		border: none;
		background: transparent;
		color: inherit;
	}
}


.btn-group {
	display: block;
}


.toolbar {
	border-bottom: solid $color-light-silver 1px;
	padding: $v-spacing*2 $h-padding;
	color: $color-link;
}